@use '../../../../../public/styles/all_styles' as all;

:host {
    @include all.fl($flexdir: column);
    width: 100%;
    font-size: 16px;
}

.add-subtask-container {
    width: 100%;
    @include all.fl($jc: space-between, $alit: center);
    padding: 0 0.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    background: white;

    .add-subtask-input{
        width: 100%;
        font-size: 16px;
        padding: 1rem;
        @include all.limiter();
        inset: none;
        outline: none;
    }

    .add-subtask-input-btns-container {
        @include all.fl($alit: center);
        
        .add-subtask-input-btn {
            @include all.size($w: 3rem, $h: 3rem);
            background: white;

            .edit-icon {
                @include all.size($w: 3rem, $h: 3rem);

                &:hover {
                    @include all.size($w:3.2rem, $h: 3.2rem);
                }
            }
        }

        hr {
            @include all.size($w: 0.2rem, $h: 3rem);
            background: rgb(0, 0, 0, 0.3);
            border: none
        }
    }
    
}

.add-subtask-container.active {
    outline: 1px solid #29ABE2;
}

ul {
    width: 100%;
    
    li {
        height: 3.2rem;
        width: 100%;
        font-size: 16px;
        list-style-type: none;
    }
}

.add-subtask-list-item-container {
    width: 100%;
    @include all.fl($jc: space-between, $alit: center);
    padding: 0 0.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    background: white;

    .add-subtask-input{
        width: 100%;
        font-size: 16px;
        padding: 1rem;
        @include all.limiter();
        inset: none;
        outline: none;
    }

    .add-subtask-input-btns-container {
        @include all.fl($alit: center);
        
        .add-subtask-input-btn {
            @include all.size($w: 3rem, $h: 3rem);
            background: white;

            .edit-icon {
                @include all.size($w: 3rem, $h: 3rem);

                &:hover {
                    @include all.size($w:3.2rem, $h: 3.2rem);
                }
            }
        }

        hr {
            @include all.size($w: 0.2rem, $h: 3rem);
            background: rgb(0, 0, 0, 0.3);
            border: none
        }
    }
}

.li-wrapper {
    @include all.fl($alit: center);
    background: transparent;
    height: 3.2rem;
    cursor: pointer;

    &:hover {
        background: rgba(0,0,0,0.1);
        border-radius: 8px;
    }

    .regular {
        list-style: disc;
        margin-left: 5rem;
        padding-right: 5rem;
        height: auto;
        font-size: 1.6rem;
        @include all.fl($jc: space-between);


        .add-subtask-input-btns-container {
            display: none;

            .add-subtask-input-btn {
                @include all.size($w: 3rem, $h: 3rem);
                background: rgb(0, 0, 0, 0.1);

                .edit-icon {
                    @include all.size($w: 3rem, $h: 3rem);

                    &:hover {
                        @include all.size($w:3.2rem, $h: 3.2rem);
                    }
                }
            }

            hr {
                @include all.size($w: 0.2rem, $h: 3rem);
                background: rgb(0, 0, 0, 0.3);
                border: none
            }

            
        }
        &:hover {
            .add-subtask-input-btns-container{
                @include all.fl($alit: center);
            
            }
        }
    }
}

.errmsg {
    color: #800000;
    height: 2.2rem;
    width: 100%;
}