@use '../../../../../public/styles/all_styles' as all;

:host {
    @include all.fl($flexdir: column);
    width: 100%;
    font-size: 2rem;
}

form {
    @include all.fl($flexdir: column);
    width: 100%;
    margin-bottom: 0.4rem;
}

label {
    font: 1.8rem 'InterRegular', sans-serif;
    margin-bottom: 0.4rem;
}

input {
    cursor: pointer;
    outline: none;
}


input[type=text] {
    width: 100%;
    height: 4rem;
    font: 1.6rem 'InterRegular', sans-serif;
    border: 1px solid #d1d1d1;
    background: white;
    padding: 1rem 6.4rem 1rem 1rem;
    &:focus {
        cursor: auto;
    }
}

input[type=reset] {
    display: none;
}

ul {
    width: 100%;
}

li {
    height: 3.2rem;
    width: 100%;
    font: 2rem 'InterRegular', sans-serif;
    list-style-type: none;
}


.li-wrapper {
    @include all.fl($alit: center);
    background: #fbfafa;
    height: 3.2rem;
    cursor: pointer;
    &:hover {
        background: #dddddd;
        border-radius: 10px;
    }
}

.regular {
    list-style: disc;
    margin-left: 5rem;
    padding-right: 5rem;
    height: auto;
    font-size: 1.6rem;
}

.control-btns {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    >img {
        width: 2.4rem;
        height: 2.4rem;
    }
}

.add-ctrl {
    height: 2.4rem;
    right: 1.6rem;
    position: absolute;
    top: 3.3rem;
    opacity: 0;
    cursor: pointer;
    transition: opacity 300ms ease;
}

.edit-ctrl {
    top: -2px;
    opacity: 0;
    transition: opacity 300ms ease;
}

form>.edit-ctrl {
    top: 2px;
    opacity: 1;
}

.li-wrapper:hover .edit-ctrl {
    opacity: 1;
}

.close-icon:hover {
    content: url(../../../../../public/assets/Icons/taskBoard/closeHover.png);
}

.check-icon:hover {
    content: url(../../../../../public/assets/Icons/taskBoard/checkHover.png);
}

.edit-icon:hover {
    content: url(../../../../../public/assets/Icons/taskBoard/editHover.png);
}

.delete-icon:hover {
    content: url(../../../../../public/assets/Icons/taskBoard/deleteHover.png);
}


.errmsg {
    color: #800000;
    height: 2.2rem;
    width: 100%;
}

#add-subtask-input {
    border-radius: 10px;
    margin-bottom: 1.6rem;
    &:focus {
        border-color: #29abe2;
    }
}

#add-subtask-input:focus~.add-ctrl {
    opacity: 1;
}

#edit-subtask-input {
    border: none;
    border-bottom: 1pt solid #29abe2;
    height: 3.2rem;
    font-size: 1.6rem;
}