<form [formGroup]="formCreateSubtask" (ngSubmit)="submitCreate()">
    <div class="add-subtask-container" [ngClass]="{'active': newSubtask.editMode}" (click)="endbleEditMode(-1)">
        <input type="text" class="add-subtask-input" name="add-subtask-input" placeholder="Add new Subtask..."
            formControlName="subtaskName" autocomplete="off">

        @if(newSubtask.editMode) {
            <div class="add-subtask-input-btns-container">
                <button class="add-subtask-input-btn" type="button" (click)="reset(-1)">
                    <img class="edit-icon edit-icon-reset" id="reset-icon" src="assets/Icons/taskBoard/close.png">
                </button>
                <hr>
                <button class="add-subtask-input-btn">
                    <img class="edit-icon edit-icon-check" id="add-check-icon" src="assets/Icons/taskBoard/check.png">
                </button>
            </div>
        }
    </div>
    <div class="errmsg">
        @if (errorsCreate['subtaskName']) {
            {{ errorsCreate['subtaskName'][0] }}
        }
        @if (this.formCreateSubtask.controls['subtaskName'].errors
        && this.formCreateSubtask.controls['subtaskName'].errors['oneSubtaskOnly']) {
            ; {{ errorsCreate['subtaskName'][1] }}
        }
    </div>
</form>
<p class="errmsg" #errmsg></p>
@if (subtasks() && subtasks().length > 0) {
<ol>
    @for (subtask of subtasks(); track $index) {
    @if (subtask.editState != SubtaskEditState.DELETED) {
    @if (subtask.editMode) {
    <li>
        <div class="add-subtask-container active">
            <input #editsub type="text" class="add-subtask-input" name="add-subtask-input" placeholder="Edit name..."
                [(ngModel)]="subtask.name" autocomplete="off">

            <div class="add-subtask-input-btns-container">
                <button class="add-subtask-input-btn" type="button" (click)="reset($index)">
                    <img class="edit-icon edit-icon-reset" id="reset-icon-2" src="assets/Icons/taskBoard/close.png"
                        alt="">
                </button>
                <hr>
                <button class="add-subtask-input-btn" type="button" (click)="updateSub($index)">
                    <img class="edit-icon edit-icon-check" id="add-check-icon" src="assets/Icons/taskBoard/check.png"
                        alt="">
                </button>
            </div>
        </div>
    </li>
    } @else {
    <li class="regular" (dblclick)="selectEditInput($index)">
        <span [title]="subtask.name">• {{ subtask.name.length > 30 ? (subtask.name | slice:0:30)
            + '...' : subtask.name }}</span>

        <div class="add-subtask-input-btns-container hover-btns">
            <button class="add-subtask-input-btn" type="button" (click)="selectEditInput($index)">
                <img class="edit-icon edit-icon-edit" id="edit-icon" src="assets/Icons/taskBoard/edit.png" alt="">
            </button>
            <hr>
            <button class="add-subtask-input-btn" type="button" (click)="deleteSub($index)">
                <img class="edit-icon edit-icon-delete" id="add-delete-icon" src="assets/Icons/taskBoard/delete.png"
                    alt="">
            </button>
        </div>
    </li>
    }
    }
    }
</ol>
}