<div class="small-header">

    <!-- @if(user()) { -->

        <img class="join-logo" src="assets/Icons/contact/JoinLogo.png" alt="">
        <h1>Kanban Project Management Tool</h1>
        <div class="header-icon-container">

            <img class="help-icon" src="assets/Icons/contact/help.png" alt="" (click)="modalService.openHelpModal()">

            <div class="profile-container">
                <div class="profile-img" (click)="toggleMenu()"><span>{{ letters }}</span></div>

                <div class="dropdown" *ngIf="isMenuVisible" (click)="$event.stopPropagation()">
                    <a class="help-mobile" (click)="openHelpFromMenu()">Help</a>
                    <a (click)="openPrivacy()">Privacy Policy</a>
                    <a (click)="openLegal()">Legal Notice</a>
                    <a (click)="logout()">Log out</a>
                </div>
            </div>
        </div>
    <!-- } -->

    <!-- @else {
        <div class="header-icon-container">

            <div class="profile-container">
                <div class="profile-login-img" (click)="toggleMenu()"><span>{{ letters }}</span></div>

                <div class="dropdown" *ngIf="isMenuVisible" (click)="$event.stopPropagation()">
                    <a class="help-login" (click)="openHelpFromMenu()">Help</a>
                    <a (click)="openPrivacy()">Privacy Policy</a>
                    <a (click)="openLegal()">Legal Notice</a>
                    <a (click)="logout()">Log out</a>
                </div>
            </div>
        </div>
    } -->

</div>