<!-- Das header-Tag habe ich hier rausgenommen, weil es jetzt in der mein-content.component.html ist. -->

    <!-- Keine weitere Kontentbegrenzung, Contentbegrenzung erfolgt uber MainContentComponent -->
    <!-- Hier kommt <app-aside> nicht hin, sondern in main-content.component.html -->
    
    <div class="small-header">
        <img class="join-logo" src="assets/Icons/contact/JoinLogo.png" alt="">
        <h1>Kanban Project Management Tool</h1>
        <div class="header-icon-container">
            <img class="help-icon" src="assets/Icons/contact/help.png" alt="">
            <img class="user-icon" src="assets/Icons/contact/User profile initials.png" alt="">
        </div>
    </div>
