@use './../../../../../public/styles/all_styles.scss' as all;

// Hier hatte ich den header-Selctor zu host geändert.
// Mit :host kann man in Angular die gesamte Komponente stylen.
:host {
    .small-header {
        @include all.size($h: 10dvh);
        @include all.fl($jc: space-between, $alit: center);
        @include all.marpad($pad: 0 3rem);
        grid-area: header;
        background: white;

        .join-logo {
            display: none;
            height: 7dvh;
            object-fit: contain;

            @include all.tablet {
                display: block;
            }
        }

        h1 {
            font-size: 20px;
            font-family: 'InterRegular', sans-serif;

            @include all.tablet {
                display: none;
            }
        }

        .header-icon-container {
            @include all.fl($alit: center);
            gap: 10px;
            
            .help-icon {
                cursor: pointer;
                @include all.tablet {
                    display: none;
                }
            }
            
            .user-icon {
                @include all.size($w: 7rem, $h: 7rem);
                cursor: pointer;
            }
        }
    }
}