@use './../../../../../public/styles/all_styles.scss' as all;

// Hier hatte ich den header-Selctor zu host geändert.
// Mit :host kann man in Angular die gesamte Komponente stylen.
:host {
    .small-header {
        @include all.size($h: 10dvh);
        @include all.fl($jc: space-between, $alit: center);
        @include all.marpad($pad: 0 3rem);
        grid-area: header;
        background: white;
        box-shadow: 0 1px 6px -2px grey;

        .join-logo {
            display: none;
            height: 7dvh;
            object-fit: contain;

            @include all.tablet {
                display: block;
            }
        }

        h1 {
            @include all.font-style($size: 2rem);
            width: 100%;
            padding: 10rem;

            @include all.notebook {
                padding: 5rem;
            }

            @include all.tablet {
                display: none;
            }
        }

        .header-icon-container {
            @include all.fl($alit: center);
            gap: 10px;

            .help-icon {
                cursor: pointer;

                @include all.tablet {
                    display: none;
                }
            }

            .profile-container {
                position: relative;
                display: inline-block;
            }

            .profile-img {
                @include all.size($w: 6.5rem, $h: 6.5rem);
                @include all.font-style($size: 2.3rem, $weight: 600);
                @include all.fl($alit: center, $jc: center);
                color: #29abe3;
                border-radius: 50%;
                border: 3px solid #1f2a3a;
                cursor: pointer;
            }

            .dropdown {
                @include all.absolute($top: 7.8rem, $right: 0);
                @include all.marpad($pad: 1rem);
                @include all.size($minW: 15rem, $h: 13rem);
                background-color: #1f2a3a;
                border-radius: 8px 0 8px 8px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                overflow: hidden;
                z-index: 10;

                @include all.tablet {
                    @include all.size($minW: 15rem, $h: 17rem);
                }

                .help-mobile {
                    display: none;

                    @include all.tablet {
                        display: flex;
                    }
                }

                a {
                    @include all.font-style($size: 1.4rem);
                    @include all.marpad($pad: 1rem 1.6rem);
                    color: #ffffff;
                    text-decoration: none;
                    display: block;
                    cursor: pointer;

                    &:hover {
                        background-color: #2c3b52;
                        border-radius: 0.5rem;
                    }
                }
            }
        }
    }
}