@use "../../../../public/styles/all_styles.scss" as all;

:host {
	@include all.size();
	@include all.marpad($pad: 8rem);

	@include all.notebook {
		@include all.marpad($pad: 6rem);
	}

	@include all.tablet {
		@include all.marpad($pad: 2rem);
	}

	// #region summary-header
	.summary-header {
		@include all.fl($jc: start, $alit: center);
		@include all.size($h: 8rem);

		@include all.notebook {
			@include all.fl($jc: space-between, $alit: start);
			@include all.size($w: 30dvw, $h: 12rem);
		}

		@include all.mobile {
			@include all.size($w: 90dvw, $h: 12rem);
		}

		.summary-header-info {
			@include all.fl($alit: center, $gap: 2rem);

			@media (max-width: 1200px) {
				@include all.fl($flexdir: column, $gap: 1rem);
			}

			h1 {
				@include all.font-style($size: 6rem, $weight: bold);

				@include all.mobile {
					@include all.font-style($size: 5rem, $weight: bold);
				}
			}

			h2 {
				@include all.size($w: 35dvw, $h: 3rem);
				@include all.font-style($size: 2.5rem, $weight: 100);
				letter-spacing: 2px;

				@media(max-width: 1150px) {
					@include all.size();
					@include all.font-style($size: 2.1rem);
				}

				@include all.notebook {
					@include all.size($w: 50dvw);
				}

				@include all.mobile {
					@include all.size();
					@include all.font-style($size: 1.8rem);
				}
			}

			hr {
				background: #29abe3;
			}

			#middle-line {
				display: block;
				@include all.size($w: 0.5rem, $h: 6rem);

				@media (max-width: 1200px) {
					display: none;
				}
			}

			#bottom-line {
				display: none;
				@include all.size($w: 12rem, $h: 0.6rem);

				@media (max-width: 1200px) {
					display: flex;
				}
			}
		}
	}

	.dashboard-main-container {
		@include all.fl($alit: center);
		@include all.size($w: 90%);

		@media(max-width: 1280px) {
			@include all.size($w: 70dvw);
			@include all.marpad($pad: 0);
		}

		@include all.notebook {
			@include all.size($h: 80%);
		}

		@include all.mobile {
			@include all.size($h: 70%);
		}

		.dashboard {
			@include all.size($h: 90%);
			@include all.marpad($mar: 3rem 0 0 0);

			.first-dashboard-row-container {
				@include all.size($h: 33%);
				@include all.fl($gap: 2rem);

				.first-dashboard-row {
					@include all.size($h: 80%);
					@include all.fl($jc: center, $alit: center, $gap: 3rem);
					background: white;
					border-radius: 1.5rem;
					cursor: pointer;
					position: relative;

					img {
						@include all.size($w: 4.5rem, $h: 4.5rem);
					}

					img.hover {
						display: none;
					}

					&:hover {
						background: #2a3647;
						scale: 1.1;
						transition: all 0.8s;
						color: white;

						img.default {
							display: none;
						}

						img.hover {
							display: inline;
						}
					}

					.done-count {
						@include all.fl($alit: center, $flexdir: column);

						span {
							@include all.font-style($size: 5rem, $weight: 500);
						}

						p {
							@include all.font-style($size: 1.8rem);
						}
					}
				}
			}

		}

		.middle-dashboard-row-container {
			@include all.size($h: 33%);

			.middle-dashboard-row {
				@include all.size($h: 80%);
				@include all.fl($jc: center, $alit: center, $gap: 5rem);
				background: white;
				border-radius: 1.5rem;
				cursor: pointer;
				padding: 1rem;

				@include all.mobile {
					@include all.fl($jc: center, $alit: center, $gap: 0.8rem);
				}

				&:hover {
					background: #2a3647;
					scale: 1.1;
					transition: all 0.8s;
					color: white;
				}

				.dashboard-priority {
					@include all.size();
					@include all.fl($alit: center, $jc: end);
					@include all.font-style($size: 1.5rem);

					img {
						@include all.size($w: 4.5rem, $h: 4.5rem);
						margin-right: 0.8rem;
					}
				}

				hr {
					@include all.size($w: 0.5rem, $h: 5rem);
					background: grey;
				}

				.dashboard-date {
					@include all.size();
					@include all.fl($flexdir: column, $alit: start, $jc: center);

					span {
						@include all.font-style($size: 1.7rem, $weight: bold);
					}

					p {
						@include all.font-style($size: 1.2rem);
						@include all.marpad($mar: 0.3rem 0 0 0);
					}
				}
			}
		}

		.end-dashboard-row-container {
			@include all.size($h: 33%);
			@include all.fl($gap: 2rem);

			.end-dashboard-row {
				@include all.size($w: 100%, $h: 80%);
				@include all.fl($alit: center, $jc: center, $flexdir: column);
				background: white;
				border-radius: 1.5rem;
				cursor: pointer;

				&:hover {
					background: #2a3647;
					scale: 1.1;
					transition: all 0.8s;
					color: white;
				}

				span {
					@include all.font-style($size: 5rem, $weight: 500);
				}

				p {
					@include all.font-style($size: 1.8rem);
					text-align: center;

					@include all.mobile {
						@include all.font-style($size: 1.5rem);
					}
				}
			}
		}
	}

	.greed-user {
		@include all.size();
		@include all.fl($jc: center, $alit: start, $flexdir: column);
		@include all.marpad($pad: 0 0 0 10rem);

		@media(max-width: 1100px) {
			display: none;
		}

		h1 {
			@include all.font-style($size: 6rem);
			color: #29abe3;
		}

		h2 {
			@include all.font-style($size: 2.8rem, $weight: 100);
		}
	}
}

// #endregion..