<div class="summary-header">
	<div class="summary-header-info">
		<h1>Join 360</h1>
		<hr id="middle-line" />
		<h2>Key Metrics at a Glance</h2>
		<hr id="bottom-line" />
	</div>
</div>
<div class="dashboard-main-container">
	<div class="dashboard">
		<div class="first-dashboard-row-container">
			<div class="first-dashboard-row">
				<img class="default" src="assets/Icons/summary/ToDoIcon.png" alt="To-do">
				<img class="hover" src="assets/Icons/summary/ToDoIconHover.png" alt="To-do Hover">
				<div class="done-count">
					<span>1</span>
					<p>To-do</p>
				</div>
			</div>

			<div class="first-dashboard-row">
				<img class="default" src="assets/Icons/summary/DoneIcon.png" alt="Done">
				<img class="hover" src="assets/Icons/summary/DoneIconHover.png" alt="Done Hover">
				<div class="done-count">
					<span>1</span>
					<p>Done</p>
				</div>
			</div>
		</div>
		<div class="middle-dashboard-row-container">
			<div class="middle-dashboard-row">
				<p class="dashboard-priority">Urgent</p>
				<hr>
				<div class="dashboard-date">
					<span>October 16, 2025</span>
					<p>Upcoming Deadline</p>
				</div>
			</div>
		</div>
		<div class="end-dashboard-row-container">
			<div class="end-dashboard-row">
				<span>1</span>
				<p>Task in <br> Board</p>
			</div>
			<div class="end-dashboard-row">
				<span>1</span>
				<p>Tasks in <br> progress</p>
			</div>
			<div class="end-dashboard-row">
				<span>1</span>
				<p>Awaiting <br> Feedback</p>
			</div>
		</div>
	</div>
	<div class="greed-user">
		<h2>Hello,</h2>
		<h1>User</h1>
	</div>
</div>