<div class="summary-header">
	<div class="summary-header-info">
		<h1>Join 360</h1>
		<hr id="middle-line" />
		<h2>Key Metrics at a Glance</h2>
		<hr id="bottom-line" />
	</div>
</div>
<div class="dashboard-main-container">
	<div class="dashboard">
		<div class="first-dashboard-row-container" (click)="goToBoard()">
			<div class="first-dashboard-row">
				<img class="default" src="assets/Icons/summary/ToDoIcon.png" alt="To-do" />
				<img class="hover" src="assets/Icons/summary/ToDoIconHover.png" alt="To-do Hover" />
				<div class="done-count">
					<span>{{ todoCount }}</span>
					<p>To-do</p>
				</div>
			</div>

			<div class="first-dashboard-row" (click)="goToBoard()">
				<img class="default" src="assets/Icons/summary/DoneIcon.png" alt="Done" />
				<img class="hover" src="assets/Icons/summary/DoneIconHover.png" alt="Done Hover" />
				<div class="done-count">
					<span>{{ doneCount }}</span>
					<p>Done</p>
				</div>
			</div>
		</div>
		<div class="middle-dashboard-row-container">
			<div class="middle-dashboard-row" (click)="goToBoard()">
				<div class="dashboard-priority">
					@if (sortedTasks[0]?.priority == Priority.URGENT) {
					<div class="red">
						<img src="assets/Icons/summary/UrgentSum.png" alt="Urgent Priority" />
					</div>
					} @else if (sortedTasks[0]?.priority == Priority.MEDIUM) {
					<div class="orange">
						<img src="assets/Icons/summary/MediumSum.png" alt="Medium Priority" />
					</div>
					} @else if (sortedTasks[0]?.priority == Priority.LOW) {
					<div class="green">
						<img src="assets/Icons/summary/LowSum.png" alt="Low Priority" />
					</div>
					} @else {}
				</div>
				<div class="priority-count">
					<span>{{ sortedTasks.length }}</span>
					<p>{{ sortedTasks[0]?.priority }}</p>
				</div>
				<hr />
				<div class="dashboard-date">
					<p class="dash-date">
						{{ sortedTasks[0]?.dueDate?.toDate() | date : "MMMM d, yyyy" }}
					</p>
					<p>Upcoming Deadline</p>
				</div>
			</div>
		</div>
		<div class="end-dashboard-row-container">
			<div class="end-dashboard-row" (click)="goToBoard()">
				<span>{{ totalTasks }}</span>
				<p>
					Task in <br />
					Board
				</p>
			</div>
			<div class="end-dashboard-row" (click)="goToBoard()">
				<span>{{ progressCount }}</span>
				<p>
					Tasks in <br />
					progress
				</p>
			</div>
			<div class="end-dashboard-row" (click)="goToBoard()">
				<span>{{ reviewCount }}</span>
				<p>
					Awaiting <br />
					Feedback
				</p>
			</div>
		</div>
	</div>
	<div class="greed-user">
		<h2>Hello,</h2>
		<h1>User</h1>
	</div>
</div>