@use '../../../../../public/styles/all_styles' as all;

:host {
    width: 100%;
}

.assign-to-container {
    width: 100%;
    font-family: 'InterRegular', sans-serif;
    
    .assign-to-input {
        
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;

        .selection-presenter-txt {
          width: 100%;
          @include all.limiter();
          font-size: 16px;
          padding-right: 1rem;

          @include all.notebook {
            width: 70dvw;
          }
        }

        .placeholder {
            font-size: 16px;
            color: rgba(0,0,0,0.2);
        }

        .arrow {
          font-size: 12px;
        }
    }

    .options {
      @include all.scrollbar();
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100%;
      border: 1px solid #ddd;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      z-index: 20;
      max-height: 220px;
      overflow-y: auto;


      .search{
        width: 100%;
        padding: 1rem;
        border: none;
        border-bottom: 1px solid #eee;
        outline: none;
        font-size: 14px;
      }

      .option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 10px;
        cursor: pointer;

        .contact-container {
          @include all.fl($alit: center, $gap: 1rem);
          
          app-contact-icon{
            width: 2rem;
            height: 2rem;

          }
          span {
            width: 28dvw;
            max-width: 20rem;
            @include all.limiter();
            font-size: 18px;

            @include all.notebook {
              width: 40dvw;
            }
          }
        }
        input {
          // padding-right: 2rem;
        }

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }

    .contact-list-item-container{
      height: 4rem;
      padding: 1rem;
    }

    .no-results{
      padding: 8px 10px;
      color: #888;
      font-size: 14px;
    }
}