@use '../../../../../../../public/styles/all_styles' as all;

:host {
    @include all.fl($alit: center, $gap: 35px);
    width: 100%;
    height: 78px;
    padding-left: 24px;
    border-radius: 10px;
    cursor: pointer;
}

:host(.active) {
    background: #2a3647;
    color: white;
    cursor: default;
}

.icon-wrapper {
    @include all.fl($jc:center, $alit:center);
    width: 42px;
    height: 42px;
}

.contact-data {
    height: 48px;
}

.name {
    margin-bottom: 5px;
    font-size: 24px;
}

.email {
    color: #007cee;
}