@use '../../../../../../../public/styles/all_styles' as all;

:host {
    // TODO: Use Mixin;
    // @include all.fl($gap: 35px);
    display: flex;
    align-items: center;
    gap: 35px;
    width: 100%;
    height: 78px;
    padding-left: 24px;
    border-radius: 10px;
}

.icon-wrapper {
    @include all.fl($jc:center, $alit:center);
    width: 42px;
    height: 42px;
}

.contact-data {
    height: 48px;
}

.name {
    margin-bottom: 5px;
    font-size: 24px;
}

.email {
    color: #007cee;
}