@use '../../../../../../public/styles/all_styles' as all;
@forward '../../../../../../public/styles/component-styles';

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
}

#help-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    font-size: 20px;
}

.help-modal-container {
    @include all.size($w: 90dvw, $maxW: 120rem, $h: 80dvh);
    @include all.fl($flexdir: column, $jc: center, $alit: start, $gap: 1rem);
    background-color: white;
    border-radius: 16px;
    border: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    padding: 5rem;
    
    @include all.notebook {
        box-shadow: 8px 0 8px rgba(0, 0, 0, 0.2), -8px 0 8px rgba(0, 0, 0, 0.2);
        padding: 5rem 3rem;
    }
    
    @include all.tablet {
        @include all.size($w: 90dvw, $maxW:90rem, $h: 80dvh);
        @include all.fl($flexdir: column, $jc: center, $alit: center);
        padding: 5rem 1.5rem;
    }

    @include all.mobile {
        @include all.size($w: 90dvw, $maxW: 60rem, $h: 80dvh);
        padding: 5rem 1rem;
    }
    
    .help-modal-content {
        @include all.fl($flexdir: column);
        @include all.size($h: auto);
        @include all.scrollbar();
        overflow-y: auto;
        

        .help-header {
            @include all.size($h: auto);
            margin-bottom: 4rem;

            h1{
                @include all.font-style($size: 4.8rem);
            }
        }

        .help-main-content {
            @include all.size($h: auto);
            padding-right: 4rem;
            
            h2 {
                font-size: 32px;
                margin-bottom: 2rem;

                @include all.mobile {
                    font-size: 24px;
                }
            }
            
            h3 {
                font-size: 24px;
                margin-bottom: 1.5rem;
                @include all.mobile {
                    font-size: 20px;
                }
            }
            
            p {
                font-size: 18px;
                margin-bottom: 1rem;
                @include all.mobile {
                    font-size: 16px;
                }
            }
            
            .help-step-list {
                display: block;
                list-style: decimal;
                padding-left: 3rem;
                margin-bottom: 4rem;
                list-style: decimal;
                font-size: 24px;
                font-family: 'InterRegular', sans-serif;

                @include all.mobile {
                    font-size: 18px;
                    padding-left: 2rem; 
                }
            }
            
            a {
                color: #29ABE2;
                cursor: pointer;

                @include all.mobile {
                    word-wrap: break-word;
                    text-wrap: true;
                }
            }
        }
    }


}