@if(fireDB.currentContact$ | async; as contact) {
@if((((dss.size() | async) == DisplayType.NOTEBOOK) || ((dss.size() | async) == DisplayType.TABLET ) || ((dss.size() |
async) == DisplayType.MOBILE ))) {
@if(contact.id == '') {
<section contact-list class="contact-list"></section>
}
@else {
@if(contact) {
<section contact-detail [currentContact]="contact" class="contact-detail"></section>
}
}
}
@else {
<section contact-list class="contact-list"></section>
@if(contact) {
<section contact-detail [currentContact]="contact" class="contact-detail"></section>
}
}
}