@use '../../../../public/styles/all_styles' as all;

.contact-section {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;

    .btn-add-contact {
        width: 30rem;
        padding: 4rem;
        margin: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
        background-color: #2a3647;
        border-radius: 8px;
        border: 2px solid #4a5f7c;
        
        padding: 5px 0;
        color: white;
        font-size: 2rem;
    }
    
    app-contact-list {
        width: 36rem;
        height: 100%;
    }
}

app-add-contact {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 50%;
    transform: translate(-55%);

    @include all.tablet() {
        top: 0;
        left: 0;
        transform: none;
    }
}