@use '../../../../public/styles/all_styles' as all;

.contact-section {
    @include all.fl();
    @include all.size($w: 100%, $h: 100%);

    .btn-add-contact {
        width: 80%;
        @include all.marpad ($mar: 3rem, $pad: 12px 0);
        @include all.fl($jc: center, $alit: center, $gap: 1rem);
        background-color: #2a3647;
        border-radius: 8px;
        border: 2px solid #4a5f7c;
        
        padding: 5px 0;
        color: white;
        font-size: 2rem;
    }
}

app-add-contact {
    position: absolute;
    z-index: 2;
    top: 30%;
    left: 50%;
    transform: translate(-60%, -30%);

    @include all.notebook {
        width: 50dvw;
        top: 30%;
        left: 50%;
        transform: translate(-30%, -30%); 
    }

    @include all.tablet() {
        top: 0;
        left: 0;
        transform: none;
    }
}

app-toast {
    @include all.size($w: 100%, $h: 100%);
    position: absolute;
    z-index: -2;
    bottom: 0;
    @include all.fl($flexdir: column, $jc: end, $alit: center);
    gap: 1rem;
}

app-contact-detail {
    @include all.tablet {
        position: absolute;
        z-index: 0;
        left: 0;
        width: 100%;
    }
}