.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: white;
	z-index: 50;
	opacity: 1;
	transition: opacity 0.7s ease-in-out;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.logo {
	position: fixed;
	width: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition:
		top 1.2s ease-in-out,
		left 1.2s ease-in-out,
		transform 1.2s ease-in-out,
		opacity 0.5s ease-in-out;
	z-index: 50;

	&.slide {
		top: 20px;
		left: 20px;
		transform: scale(0.5);
	}
}