@use '../../../../../public/styles/all_styles' as all;

:host {
    width: 100%;
}

.category-drop-container{
    width: 100%;
    height: 4rem;
    background: white;
    border-radius: 8px;
    
    .category-drop-presenter {
        width: 100%;
        height: 4rem;
        padding: 1rem;
        @include all.borRad($radius: 8px, $c: rgba(0, 0, 0, 0.2), $thick: 1px);
        
        @include all.fl($jc: space-between, $alit: center);

        .category-drop-presenter-txt {
            font-size: 16px;
        }

        .arrow {
            font-size: 12px;
        }
    }

    .options-container {
        @include all.fl($flexdir: column, $alit: center);
        @include all.borRad($c: rgba(0, 0, 0, 0.1), $radius: 8px, $thick: 2px);
        @include all.boxSh($c: rgba(0, 0, 0, 0.1));
        @include all.scrollbar();
        background: white;
        border-radius: 8px;
        // border: 1px solid rgba(0, 0, 0, 0.1);
        z-index: 2;
        overflow-y: auto;
        // box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        // padding: 0.5rem;

        .option {
            width: 100%;
            height: 4rem;
            padding:  1rem 0.5rem;

            &:hover{
                background: #29ABE2;
            }
        }
    }

}