<div class="category-drop-container">
    <div class="category-drop-presenter" (click)="toggleOptions()">
        <span class="category-drop-presenter-txt">{{ currentCategory() }}</span>
        <span class="arrow">{{ isOpen ? '▲' : '▼' }}</span>
    </div>

    @if (isOpen) {
        <div class="options-container">
            @for( category of categoryValues; track category) {
                <div class="option" (click)="updateCategory(category)">
                    <span class="option-txt">{{category}}</span>
                </div>
            }
        </div>
    }
</div>