<!-- Das header-Tag habe ich hier rausgenommen, weil es jetzt in der mein-content.component.html ist. -->
<div class="content">
    <div class="smallHeader">
        <img class="help" src="assets/Icons/help.png" alt="">
        <img src="assets/Icons/User profile initials.png" alt="">
    </div>
    <aside class="headerNav">
        <img src="assets/Icons/JoinLogoWhite.png" alt="das Logo von Join">
        <nav>
            <!-- 
                Hier wird durchiteriert über das 'items'-Array und rendert die app-nav-item Komponente für jedes Element.
            -->
                @for (navItem of item; track navItem.sectionId) {
                    <app-nav-item [item]="navItem"></app-nav-item>
                }
        </nav>
        <div class="links">
            <li>
                <a href="">Privacy Policy</a>
                <a href="">Legal notice</a>
            </li>
        </div>
    </aside>
    <section id="main">
		<h1>hallo</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sapiente odit unde blanditiis sed voluptas. Rerum suscipit nobis maiores laudantium vero sapiente odit, voluptates, temporibus asperiores mollitia vitae explicabo a!</p>
	</section>
</div>