@use './../../../../public/styles/all_styles.scss' as all;

// Hier hatte ich den header-Selctor zu host geändert.
// Mit :host kann man in Angular die gesamte Komponente stylen.

    .content {
        display: grid;
        grid-template-columns: 20rem 1fr;
        grid-template-rows: 10vh 1fr; 
        height: 100%; 

		@include all.tablet {
            grid-template-columns: 1fr; 
            grid-template-rows: 10vh 1fr;
        }
    }

    app-aside {
        grid-column: 1;
        grid-row: 1 / 3;
    }
:host { //header ist bereits im Content enthalten, das wäre eine doppelte Contentbegrenzung, daher Selector geändet zu host.

    .smallHeader {
        grid-column: 2;
        grid-row: 1;
		width: 100%; 
        height: 10vh;
		background: white;
		@include all.fl($jc: end, $flexdir: row);
		gap: 10px;
		padding-right: 1rem;
		cursor: pointer;
        }

    .main {
        grid-column: 2;
        grid-row: 2;
        height: auto;
        padding-top: 0;
        flex-direction: column;
    }
}
