@use './../../../../public/styles/all_styles.scss' as all;

// Hier hatte ich den header-Selctor zu host geändert.
// Mit :host kann man in Angular die gesamte Komponente stylen.
:host {
    .smallHeader {
        width: 100%;
        padding: 0 2rem;
        grid-area: header;
        height: 10vh;
        @include all.fl($jc: space-between, $alit: center);
        background: white;

        @include all.tablet {
            padding: 0 10px;
            width: 100%;
        }

        .joinIcon {
            display: none;

            img {
                height: 5vh;
                padding: 0;
                object-fit: contain; 
            }

            @include all.tablet {
                display: flex;
            }
        }

        .headerIcon {
            @include all.fl($alit: center);
            gap: 10px;
        }

        h1 {
            font-size: clamp(16px, 1.5dvw, 32px);

            @include all.tablet {
                display: none;
            }
        }

        img { 
            cursor: pointer;
            padding-right: 1rem;
        }

        .help {
            @include all.tablet {
                display: none;
            }
        }
    }
}