<!-- Das header-Tag habe ich hier rausgenommen, weil es jetzt in der mein-content.component.html ist. -->
<div class="content">
    <app-aside></app-aside>

    <div class="smallHeader">
        <img class="help" src="assets/Icons/help.png" alt="">
        <img src="assets/Icons/User profile initials.png" alt="">
    </div>

    <div class="main">
        <h1>Hallo</h1>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati laudantium optio, dolores ullam quis, corrupti voluptate corporis vitae veniam dolorum rem! Aliquam error odit culpa unde consequuntur nulla et alias!</span>
    </div>
</div>