<header>
	<div class="content">
		<div class="smallHeader">
			<img class="help" src="assets/Icons/help.png" alt="">
			<img src="assets/Icons/User profile initials.png" alt="">
		</div>
		<aside class="headerNav">
			<img src="assets/Icons/JoinLogoWhite.png" alt="das Logo von Join">
			<nav>
				<li><img src="assets/Icons/Summary.png" alt="Summary"><a href="#Summary">Summary</a></li>
				<li><img src="assets/Icons/addTask.png" alt="addTask"><a href="#addTask">Add Task</a></li>
				<li><img src="assets/Icons/Board.png" alt="Boards"><a href="#Boards">Boards</a></li>
				<li><img src="assets/Icons/Contacts.png" alt="Contacts"><a href="#Contacts">Contacts</a></li>
			</nav>
			<div class="links">
				<li>
					<a href="">Privacy Polici</a>
					<a href="">Legal notice</a>
				</li>
			</div>
		</aside>
	</div>
</header>