@use "../../../../public/styles/all_styles" as all;

:host {
    @include all.size($w: 100%, $h: 90dvh);
    @include all.marpad($pad: 9rem 7rem 0 7rem);
    @include all.scrollbar();
    overflow-y: auto;

    @include all.tablet {
        @include all.size($h: 80dvh);
        @include all.marpad($pad: 2rem 1rem);
    }
    
    header {
        @include all.fl($jc: space-between);
        margin: 2rem 0;

        button {
            cursor: pointer;
        }
    }

    h2 {
        @include all.marpad($mar: 0 0 2rem 0);
        font-size: 2.4rem;
    }

    h3 {
        @include all.marpad($mar: 0 0 2rem 0);
        font-size: 2rem;
    }

    p {
        @include all.marpad($mar: 0 0 1rem 0);
    }

    .privacy-policy-list {
        @include all.marpad($pad: 2rem 3rem);
        display: block;
        list-style: decimal;
    }

    a {
        color: #29abe2;
        cursor: pointer;

        @include all.mobile {
            word-wrap: break-word;
            text-wrap: true;
        }
    }

    span {
        color: #29abe2;
    }
}