@use './../../../../../public/styles/all_styles.scss' as all;

.editContactModalContainer {
    position: fixed;
    top: 20rem;
    right: -30rem;
    width: 100rem; 
    height: 60vh;
    z-index: 102;
    display: flex; 
    background-color: white; 
    transform: translateX(100%);
    transition: transform 0.8s ease-out;

    @include all.notebook {
        width: 100%;
        top: 0;
        height: 100vh;
        }

    @include all.tablet() {
        width: 100%;
        height: 100%;
        left: 0;
        flex-direction: column;
        align-items: center;
    }
    }

.editContactModalContainer.open {
    transform: translate(-50%, 0%);
    border-radius: 16px;

    @include all.notebook {
        transform: translate(0%, 0%);
        border-radius: 0;
        }
}

.leftSide {
    width: 40rem;
    height: 100%;
    background-color: #2a3647;
    gap: 2rem;
    padding: 0 2rem;
    border-radius: 16px 0 0 16px;
    @include all.fl($flexdir: column, $jc: center);

    .lineCloseBtn {
        width: 100%;
        @include all.fl($jc: end);
        margin: 4rem 0;
        display: none;
    }

    img {
        width: 6.4rem;
        height: 6.4rem;
        margin-bottom: 3rem;
    }

    h1 {
        color: white;
        font-size: clamp(16px, 3.5rem, 48px);
    }
}

.rightSide {
    width: 70rem; 
    height: 100%;
    padding: 1rem 2rem;
    @include all.fl($flexdir: column);

    .lineCloseBtn {
        width: 100%;
        @include all.fl($jc: end);
        margin: 4rem 0;
    }

    .lineForm {
        width: 100%;
        @include all.fl();
        margin: 4rem 0;
        padding: 20px;
        gap: 60px;

        .singleIcon {
            margin-top: 1.5rem;
            width: 200px;
            height: 140px;
        }

        form {

            width: 100%;
            @include all.fl($alit: start, $flexdir: column);
            gap: 3rem;

            input {
                width: 100%;
                height: 3.5rem;
                background-color: lightgray;
                border-radius: 8px;
                padding-left: 1rem;
            }

            .formBtnContainer {
                width: 100%;
                @include all.fl($jc: start);
                gap: 2rem;

                button {
                    padding: 12px;
                    border-radius: 8px;
                    border: 1px solid grey;
                }
            }
        } 
    }
}