@use '../../../../../public/styles/all_styles' as all;

:host {
    @include all.fl($flexdir: column);
    width: 100%;
    font-size: 2rem;
}

form {
    @include all.fl($flexdir: column);
    width: 100%;
    margin-bottom: 0.4rem;
}

label {
    font: 2rem Inter;
    margin-bottom: 0.4rem;
}

input {
    cursor: pointer;
    outline: none;
}

// .add-control {
//     opacity: 0;
//     width: 2.4rem;
//     height: 2.4rem;
//     position: absolute;
//     top: 4rem;
//     cursor: pointer;
//     transition: opacity 300ms ease;
// }

input[type=text] {
    width: 100%;
    height: 4.8rem;
    font: 2.4rem Inter;
    border: 1px solid #d1d1d1;
    background: white;
    padding: 12px 6.4rem 12px 16px;
    &::placeholder {
        color: #d1d1d1;
    }
}

input[type=reset] {
    display: none;
}

ul {
    width: 100%;
}

li {
    height: 3.2rem;
    width: 100%;
    font: 2rem Inter;
}


.li-wrapper {
    @include all.fl($alit: center);
    height: 3.6rem;
    cursor: pointer;
    &:hover {
        background: #eeeeee;
    }
}

.regular {
    list-style: disc;
    margin-left: 5rem;
    padding-right: 5rem;
}

.control-btns {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    >img {
        width: 2.4rem;
        height: 2.4rem;
    }
}

.add-ctrl {
    top: 4rem;
    right: 1.6rem;
}

.close-icon:hover {
    content: url(../../../../../public/assets/Icons/taskBoard/closeHover.png);
}

.check-icon:hover {
    content: url(../../../../../public/assets/Icons/taskBoard/checkHover.png);
}

.edit-icon:hover {
    content: url(../../../../../public/assets/Icons/taskBoard/editHover.png);
}

.delete-icon:hover {
    content: url(../../../../../public/assets/Icons/taskBoard/deleteHover.png);
}

#add-subtask-input {
    border-radius: 10px;
    margin-bottom: 1.6rem;
    &:focus {
        border-color: #29abe2;
    }
}

// #add-subtask-input:focus~.add-control {
//     opacity: 1;
// }

#edit-subtask-input {
    border: none;
    border-bottom: 1pt solid #29abe2;
    height: 3.2rem;
    font-size: 2rem;
}