<header>
    <h1>Board</h1>
    <div class="search-task-board">
        <app-search-task class="search-task" (seachOut)="filterTasks($event)"></app-search-task>
        <button class="btn-set" (click)="modalService.openAddTaskModal()">
            <span id="add-task-label">Add Task </span>+
        </button>
    </div>
</header>
<div class="search-task-container-mobile">
    <app-search-task class="search-task" (seachOut)="filterTasks($event)"></app-search-task>
</div>
<div class="task-list-wrapper">
    <section class="task-list">
        <header class="task-list-header">
            <h3>{{ taskLists[0].listName }}</h3>
            <button (click)="modalService.openAddTaskModal()">
                <img class="add-icon-btn" src="assets/Icons/taskBoard/addBtnBoard.png" />
            </button>
        </header>
        <main cdkDropList #todo="cdkDropList" [cdkDropListData]="taskItems[0]"
            [cdkDropListConnectedTo]="[progress, review, done]" (cdkDropListDropped)="drop($event)">
            @if(taskItems[0].length) { @for (task of taskItems[0]; let j = $index;
            track j) {
            <app-task-column-item class="drag-content" [task]="task" cdkDrag [cdkDragStartDelay]="(((dss.size() | async) === DisplayType.TABLET) || ((dss.size() | async) === DisplayType.MOBILE))? 500 : 0"
                [cdkDragData]="task">
            </app-task-column-item>
            } } @else {
            <div class="no-entry-container">
                <p>no entries</p>
            </div>
            }
        </main>
    </section>
    <section class="task-list">
        <header class="task-list-header">
            <h3>{{ taskLists[1].listName }}</h3>
            <button (click)="modalService.openAddTaskModal()">
                <img class="add-icon-btn" src="assets/Icons/taskBoard/addBtnBoard.png" />
            </button>
        </header>
        <main cdkDropList #progress="cdkDropList" [cdkDropListData]="taskItems[1]"
            [cdkDropListConnectedTo]="[todo, review, done]" (cdkDropListDropped)="drop($event)">
            @if(taskItems[1].length) { @for (task of taskItems[1]; let j = $index;
            track j) {
            <app-task-column-item class="drag-content" [task]="task" cdkDrag [cdkDragStartDelay]="(((dss.size() | async) === DisplayType.TABLET) || ((dss.size() | async) === DisplayType.MOBILE))? 500 : 0"
                [cdkDragData]="task">
            </app-task-column-item>
            } } @else {
            <div class="no-entry-container">
                <p>no entries</p>
            </div>
            }
        </main>
    </section>
    <section class="task-list">
        <header class="task-list-header">
            <h3>{{ taskLists[2].listName }}</h3>
            <button (click)="modalService.openAddTaskModal()">
                <img class="add-icon-btn" src="assets/Icons/taskBoard/addBtnBoard.png" />
            </button>
        </header>
        <main cdkDropList #review="cdkDropList" [cdkDropListData]="taskItems[2]"
            [cdkDropListConnectedTo]="[todo, progress, done]" (cdkDropListDropped)="drop($event)">
            @if(taskItems[2].length) { @for (task of taskItems[2]; let j = $index;
            track j) {
            <app-task-column-item class="drag-content" [task]="task" cdkDrag [cdkDragStartDelay]="(((dss.size() | async) === DisplayType.TABLET) || ((dss.size() | async) === DisplayType.MOBILE))? 500 : 0"
                [cdkDragData]="task">
            </app-task-column-item>
            } } @else {
            <div class="no-entry-container">
                <p>no entries</p>
            </div>
            }
        </main>
    </section>
    <section class="task-list">
        <header class="task-list-header">
            <h3>{{ taskLists[3].listName }}</h3>
            <button (click)="modalService.openAddTaskModal()">
                <img class="add-icon-btn" src="assets/Icons/taskBoard/addBtnBoard.png" />
            </button>
        </header>
        <main cdkDropList #done="cdkDropList" [cdkDropListData]="taskItems[3]"
            [cdkDropListConnectedTo]="[todo, progress, review]" (cdkDropListDropped)="drop($event)">
            @if(taskItems[3].length) { @for (task of taskItems[3]; let j = $index;
            track j) {
            <app-task-column-item class="drag-content" [task]="task" cdkDrag [cdkDragStartDelay]="(((dss.size() | async) === DisplayType.TABLET) || ((dss.size() | async) === DisplayType.MOBILE))? 500 : 0"
                [cdkDragData]="task">
            </app-task-column-item>
            } } @else {
            <div class="no-entry-container">
                <p>no entries</p>
            </div>
            }
        </main>
    </section>
</div>