@use '../../../../public/styles/all_styles' as all;
@forward '../../../../public/styles/component-styles';

:host {
    @include all.fl($flexdir: column, $alit: center);
    @include all.size();
    background: #f6f7f8;
    padding-top: 8rem;
    @include all.mobile {
        @include all.marpad ($pad: 80px 16px 0 16px);
    }
}

header {
    @include all.fl($jc: space-between, $alit: center);
    @include all.size ($w: 80%, $h: 7.3rem);
    padding-right: 17rem;

    h1 {
        width: 50%;
    }

    app-search-task {
        flex: 1;
    }

    button {
        height: 47px;
        @include all.marpad($pad: 8px 16px);
        position: absolute;
        right: 0;
        
    }

    @include all.mobile {
        @include all.fl($flexdir: column, $jc:space-between);
        @include all.size($h: 14.6rem);

        app-search-task {
            flex: 0 0 48px;
        }

        button {
            top: 16px;
        }
    }
    @include all.smart {
        button {
            top: 0;
        }
    }
}

.task-list-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    gap: 3rem;
    padding: 16px;
    margin-top: 8rem;
    overflow-y: auto;

    @media (max-width: 1230px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include all.mobile {
        @include all.fl($flexdir: column, $gap: 2.6rem);
    }
}

.task-list-wrapper::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 975px) {
    #add-task-label {
        display: none;
    }
    header {
        padding-right: 6rem;
        @include all.mobile {
            padding: 0;
        }
    }
}