@use '../../../../public/styles/all_styles' as all;
@forward '../../../../public/styles/component-styles';

:host {
    @include all.size($h: 90dvh);
    @include all.marpad($pad: 3rem);

    @media(max-width: 1280px) {
        @include all.size($h: 80dvh);
        @include all.marpad($pad: 0.5rem);
    }

    // #region header
    header {
        @include all.size($w: 100%);
        @include all.marpad($pad: 1rem);
        @include all.fl($alit: center, $jc: space-between);

        .search-task-board {
            @include all.fl($gap: 5rem);

            .search-task {

                @include all.mobile {
                    display: none;
                }
            }

            .btn-set {
                @include all.size($w: 100%, $h: 3.8rem);

                @include all.notebook {
                    #add-task-label {
                        display: none;
                    }
                }
            }
        }
    }

    // #endregion

    // #region search-task-container-mobile
    .search-task-container-mobile {
        display: none;

        @include all.mobile {
            padding: 2rem;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    // #endregion

    // #region task-list-container
    .task-list-wrapper {
        @include all.size($w: 100%, $h: 77dvh);
        @include all.fl($gap: 1rem);

        @include all.notebook {
            @include all.size($h: 80dvh);
            @include all.fl($flexdir: column);
            @include all.scrollbar();
            overflow: auto;
        }

        @include all.tablet {
            height: 70dvh;
        }

        @include all.mobile {
            height: 62.5dvh;
        }

        .task-list {
            @include all.size($w: 100%, $h: 77dvh);
            display: flex;
            flex-direction: column;

            @include all.notebook {
                height: 75dvh;
            }

            header {
                @include all.marpad($pad: 0 1rem 0 0, $mar: 0 0 1rem 0);
                @include all.fl($jc: space-between, $alit: center);
            }

            main {
                @include all.fl($flexdir: column);
                @include all.scrollbar();
                overflow: auto;

                @include all.notebook {
                    @include all.size();
                    @include all.fl();
                    max-width: 76dvw;
                }

                @media(max-width: 920px) {
                    max-width: 71dvw;
                }

                @include all.tablet {
                    max-width: 100%;
                }

                .drag-content {
                    height: auto;
                }
            }
        }

        // #endregion
    }
}

// #region CDK-Drag-Drop

.cdk-drop-list-dragging {
    height: 100%;
    border: 3px dotted #800000;
}

.cdk-drag-preview {
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translate(rotate(15deg));
}

.cdk-drag-placeholder {
    opacity: 0;
}

// #endregion