@use '../../../../public/styles/all_styles' as all;
@forward '../../../../public/styles/component-styles';

:host {
    @include all.fl($flexdir: column, $alit: center);
    @include all.size();
    background: #ededed;
    padding-top: 6rem;

    header {
        @include all.size($h: 10rem);
        @include all.fl($alit: center, $jc: space-between);
        padding: 0 3rem;

        h1 {
            font-family: 'Inter', sans-serif;
        }

        .search-task-container {
            @include all.size();
            @include all.fl($alit: center, $jc: end, $gap: 3rem);

            .search-task {
                @include all.size($w: 40%, $h: 4.8rem);
            }

            .btn-set {
                @include all.size($w: 10rem, $h: 4.8rem);
            }
        }
    }

    .task-list-wrapper {
        @include all.size();
        @include all.fl();

        @media(max-width: 1230px) {
            @include all.fl($flexdir: column);
            width: 100rem;
            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}