@use '../../../../public/styles/all_styles' as all;
@forward '../../../../public/styles/component-styles';

:host {
    @include all.fl($flexdir: column, $alit: center);
    @include all.size();
    padding-top: 4rem;

    @media(max-width: 1280px) {
        @include all.fl($flexdir: column, $alit: center);
        @include all.size();
    }

// #region header
    header {
        @include all.size($h: 10rem);
        @include all.fl($alit: center, $jc: space-between);
        padding: 0 5rem;

        @include all.notebook {
            @include all.size($h: 10rem);
            @include all.marpad($pad: 0 1rem);
        }

        h1 {
            @include all.font-style($size: 6rem);
        }

        .search-task {
            @include all.size($w: 40%, $h: 4.8rem);

            @include all.mobile {
                display: none;
            }
        }

        .btn-set {
            @include all.size($w: 15rem, $h: 4.8rem);

            @include all.notebook {
                #add-task-label {
                    display: none;
                }
                @include all.size($w: 4.8rem, $h: 4.8rem);
            }
        }
    }
// #endregion

// #region search-task-container-mobile
    .search-task-container-mobile {
        display: none;

        @include all.mobile {
            display: flex;
            padding: 0 1rem;
            @include all.size($h: 6rem);
        }
    }
// #endregion

// #region task-list-container
    .task-list-wrapper {
        @include all.size();
        @include all.fl();
        gap: 0;

        @media(max-width: 1280px) {
            @include all.fl($flexdir: column);
            @include all.size($w: 78dvw);
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;
            scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
        }

        @include all.notebook {
            @include all.fl($flexdir: column);
            @include all.size($maxW: 72dvw);
        }
        
        @include all.tablet {
            @include all.size($w: 100dvw);
        }
    }
}
// #endregion