@use '../../../../public/styles/all_styles' as all;
@forward '../../../../public/styles/component-styles';

:host {
    @include all.size();
    padding: 5rem 2% 1rem 2%;

    // #region header
    header {
        @include all.size($h: 10dvh);
        @include all.fl($alit: center, $jc: space-between);
        padding: 0 5rem;


        h1 {
            @include all.font-style($size: 6rem);
        }

        .search-task {
            @include all.size($w: 40%, $h: 4.8rem);

            @include all.mobile {
                // display: none;
            }
        }

        .btn-set {
            @include all.size($w: 25%, $h: 4.8rem);

            @include all.notebook {
                #add-task-label {
                    display: none;
                }

                @include all.size($w: 4.8rem, $h: 4.8rem);
            }
        }
    }

    // #endregion

    // #region search-task-container-mobile
    .search-task-container-mobile {
        display: none;

        @include all.mobile {
            display: flex;
            padding: 0 1rem;
            @include all.size($h: 6rem);
        }
    }

    // #endregion

    // #region task-list-container
    .task-list-wrapper {
        @include all.size($h: 70dvh);
        @include all.fl();
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
        gap: 0;
        padding-bottom: 2rem;

        @media(max-width: 1280px) {
            @include all.fl($flexdir: column);
            @include all.size($h: 70dvh);
            overflow-x: auto;
            padding-bottom: 2rem;
        }

        .task-list {
            @include all.fl($flexdir: column);
            @include all.size();
            @include all.marpad($pad: 0.5rem 1rem);

            header {
                @include all.fl($alit: center, $jc: space-between);
                @include all.size($h: 4.8rem);
                @include all.marpad($pad: 0 0.5rem);
                margin-bottom: 1rem;

                h3 {
                    font-size: 2.1rem;
                }

                .add-icon-btn {
                    &:hover {
                        content: url(../../../../public/assets/Icons/taskBoard/addBtnBoardHover.png);
                    }

                    &:active {
                        content: url(../../../../public/assets/Icons/taskBoard/addBtnBoardClick.png);
                    }
                }
            }

            main {
                @include all.size();
                @include all.fl($alit: center, $flexdir: column);
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: rgba(255, 255, 255, 0.2) transparent;

                @media (max-width: 1280px) {
                    @include all.fl($flexdir: row);
                    @include all.size();
                    overflow-x: auto;
                    padding-bottom: 1rem;
                }

                >* {
                    @include all.size($maxW: 28rem, $minW: 20rem, $h: auto);
                }

                .no-entry-container {
                    @include all.size($h: 4.8rem);
                    @include all.borRad($c: rgba(0, 0, 0, 0.2), $radius: 16px, $thick: 2px, $design: dotted);
                    @include all.font-style($size: 18px, $weight: 600);
                    background: rgba(0, 0, 0, 0.1);
                    text-align: center;
                    align-content: center;
                }
            }
        }

    }
}



// #region CDK-Drag-Drop
.cdk-drop-list-dragging {
    border: 3px dotted #800000;
}

.cdk-drag-preview {
    border-radius: 1.6rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-preview app-task-column-item {
    width: 100%;
    transform: rotate(15deg);
}

// #endregion
// #endregion