@use '../../../../public/styles/all_styles' as all;
@forward '../../../../public/styles/component-styles';

:host {
    @include all.fl($flexdir: column, $alit: center);
    @include all.size();
    padding: 5% 2% 1% 2%;

    // #region header
    header {
        @include all.size($h: 10rem);
        @include all.fl($alit: center, $jc: space-between);


        h1 {
            @include all.font-style($size: 6rem);
        }

        .search-task {
            @include all.size($w: 40%, $h: 4.8rem);

            @include all.mobile {
                display: none;
            }
        }

        .btn-set {
            @include all.size($w: 25%, $h: 4.8rem);

            @include all.notebook {
                #add-task-label {
                    display: none;
                }

                @include all.size($w: 4.8rem, $h: 4.8rem);
            }
        }
    }

    // #endregion

    // #region search-task-container-mobile
    .search-task-container-mobile {
        display: none;

        @include all.mobile {
            display: flex;
            padding: 0 1rem;
            margin-top: 1rem;
            @include all.size($h: 6rem);
        }
    }

    // #endregion

    // #region task-list-container
    .task-list-wrapper {
        @include all.size();
        @include all.fl();
        gap: 0;

        @media(max-width: 1280px) {
            @include all.fl($flexdir: column);
            @include all.size($h: 90dvh);
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;
            scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
        }

        @include all.notebook {
            @include all.fl($flexdir: column);
        }

        @include all.tablet {
            @include all.size($w: 100dvw);
        }
    }
}

// #endregion

.task-list {
    @include all.fl($flexdir: column);
    @include all.size();
    @include all.marpad($pad: 1.6rem 1rem);

    header {
        @include all.size($h: 4.8rem);
        @include all.fl($alit: center, $jc: space-between);
        @include all.marpad($pad: 0 1rem);
        margin-bottom: 1rem;

        h3 {
            font-size: 2.1rem;
        }

        .add-icon-btn {
            &:hover {
                content: url(../../../../public/assets/Icons/taskBoard/addBtnBoardHover.png);
            }

            &:active {
                content: url(../../../../public/assets/Icons/taskBoard/addBtnBoardClick.png);
            }
        }
    }

    main {
        @include all.size($h: 100%, $minH: 5rem);
        @include all.fl($alit: center, $flexdir: column);
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.2) transparent;

        @media (max-width: 1280px) {
            @include all.fl($flexdir: row);
            @include all.size( $h: 100%);
            overflow-x: auto;
        }

        >* {
            @include all.size($maxW: 28rem, $minW: 20rem);
        }
    }
}

// #region CDK-Drag-Drop
.cdk-drop-list-dragging {
    border: 3px dotted #800000;
}

.cdk-drag-preview {
    border-radius: 1.6rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-preview app-task-column-item {
    width: 100%;
    transform: rotate(15deg);
}
// #endregion