@use '../../../../public/styles/all_styles' as all;
@forward '../../../../public/styles/component-styles';

:host {
    @include all.size($w: 100%, $h: 85dvh);
    padding: 5rem 1rem 1rem 1rem;


    // #region header
    header {
        @include all.fl($jc: space-between);
        padding: 2rem 2rem;

        h1 {
            @include all.font-style($size: 48px);

            @include all.mobile{
                @include all.font-style($size: 36px);
            }
        }

        .search-task {
            @include all.size($w: 40%, $h: 4.8rem);

            @include all.mobile {
                display: none;
            }
        }

        .btn-set {
            @include all.size($w: 25%, $h: 4.8rem);

            @include all.notebook {
                #add-task-label {
                    display: none;
                }

                @include all.size($w: 4.8rem, $h: 4.8rem);
            }
        }
    }

    // #endregion

    // #region search-task-container-mobile
    .search-task-container-mobile {
        display: none;

        @include all.mobile {
            display: flex;
            padding: 0 2rem;
            @include all.size($h: 6rem);
        }
    }

    // #endregion

    // #region task-list-container
    .task-list-wrapper {
        width: 100%;
        @include all.fl($jc: space-around, $gap: 1rem);
        @include all.scrollbar();
        
        @media(max-width: 1280px) {
            @include all.fl($flexdir: column);
            overflow-y: auto;
            height: 74dvh;
            width: calc(100dvw - 22rem);
        }

        @include all.tablet {
            width: calc(100dvw - 2rem);
            height: 64dvh;
        }

        @include all.mobile {
            height: 58dvh;
        }

        .task-list {
            width: 25%;
            height: 74dvh;
            @include all.fl($flexdir: column);
            padding: 1rem;

            @media(max-width: 1280px) {
                width: calc(100dvw - 24rem);
                height: 78dvh;
            }

            @include all.tablet {
                width: calc(100dvw - 4rem);
            }

            header {
                width: 100%;
                @include all.fl($jc: space-between);

                h3 {
                    font-size: 2.1rem;
                }

                .add-icon-btn {
                    &:hover {
                        content: url(../../../../public/assets/Icons/taskBoard/addBtnBoardHover.png);
                    }

                    &:active {
                        content: url(../../../../public/assets/Icons/taskBoard/addBtnBoardClick.png);
                    }
                }
            }

            main {
                // width: 100%;
                // height: 100%;
                @include all.size();
                @include all.fl($flexdir: column);
                @include all.scrollbar();
                overflow-y: auto;

                @media(max-width: 1280px) {
                    @include all.fl();
                    max-width: fit-content;
                    overflow-x: auto;
                }

                .drag-content {
                    @include all.size($maxW: 28rem, $minW: 20rem, $h: auto);
                }

                .no-entry-container {
                    @include all.size($maxW: 28rem, $minW: 20rem, $h: auto);
                    @include all.borRad($c: rgba(0, 0, 0, 0.2), $radius: 16px, $thick: 2px, $design: dotted);
                    @include all.font-style($size: 18px, $weight: 600);
                    @include all.marpad($pad: 1rem);
                    background: rgba(0, 0, 0, 0.1);
                    text-align: center;
                    align-content: center;
                }
            }
        }
    }
    // #endregion
}

// #region CDK-Drag-Drop

.cdk-drop-list-dragging {
    border: 3px dotted #800000;
}

.cdk-drag-preview {
    border-radius: 1.6rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translate(rotate(15deg));

    app-task-column-item {
        width: 100%;
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

// #endregion