@use "../../../../public/styles/all_styles" as all;
@forward "../../../../public/styles/component-styles";

:host {
    @include all.size($h: 90dvh);

    @include all.tablet {
        @include all.size($h: 80dvh);
    }

    // #region header
    header {
        @include all.size($w: 100%, $h: 11rem);
        @include all.marpad($pad: 3dvw 4dvw 0 3.5dvw);
        @include all.fl($alit: center, $jc: space-between);
        margin-bottom: 3rem;

        @include all.tablet {
            height: 7rem;
            margin-bottom: 0;
            padding: 2rem 2rem 0 2rem;
        }

        h1 {
                font-family: 'Interbold', sans-serif;
                font-size: 5rem;
            }

        .search-task-board {
            @include all.fl($jc: end, $gap: 3rem);
            width: 70%;

            @include all.notebook {
                width: 75%;
            }

            @include all.tablet {
                width: 75%;
                gap: 1.6rem;
            }

            @include all.mobile {
                justify-content: end;
            }

            .search-task {
                
                @include all.mobile {
                    display: none;
                }
            }

            .btn-set {
                @include all.size($w: 20%, $h: 4.5rem);

                @media(max-width: 1280px) {
                    width: 25%;
                }

                @include all.notebook {
                    width: 4.5rem;

                    #add-task-label {
                        display: none;
                    }
                }
            }
        }
    }

    // #endregion

    // #region search-task-container-mobile
    .search-task-container-mobile {
        display: none;

        @include all.mobile {
            padding: 2rem;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    // #endregion

    // #region task-list-container
    .task-list-wrapper {
        @include all.size($w: 100%);
        @include all.fl($gap: 2rem);
        justify-content: space-evenly;
        height: 74dvh;

        @media(max-width: 1280px) {
            @include all.size($h: 72dvh);
            @include all.fl($flexdir: column);
            @include all.scrollbar();
            padding: 0 1rem 4rem 1rem;
            overflow: auto;
        }

        @include all.tablet {
            height: 70dvh;
            padding: 0 1rem 4rem 1rem;
        }

        @include all.mobile {
            height: 60dvh;
        }

        .task-list {
            @include all.size($w: 100%, $h: 73.5dvh);
            max-width: 28rem;
            display: flex;
            flex-direction: column;

            @media (max-width: 1280px) {
                max-width: 100%;
                height: 75dvh;
            }

            .task-list-header {
                width: 100%;
                height: auto;
                @include all.marpad($pad: 1.5rem 0);
                @include all.fl($jc: space-around, $alit: center, $gap: 7rem);

                @media(max-width: 1280px) {
                    justify-content: space-between;
                }
            }

            main {
                @include all.fl($flexdir: column);
                @include all.scrollbar();
                overflow: auto;
                height: 67dvh;

                @media(max-width: 1280px) {
                    flex-direction: row;
                    width: 78dvw;
                    height: auto;
                    gap: 1rem;
                }

                @include all.notebook {
                    @include all.size();
                    @include all.fl();
                    max-width: 75dvw;
                    padding-bottom: 1rem;
                }

                @media (max-width: 920px) {
                    max-width: 71dvw;
                }

                @include all.tablet {
                    max-width: 100%;
                }

                .drag-content {
                    height: auto;
                }

                .no-entry-container {
                    @include all.size($w: 100%, $h: 70rem);

                    p {
                        @include all.size($w: 100%, $h: 5rem);
                        @include all.fl($jc: center, $alit: center);
                        border-radius: 16px;
                        background: rgb(226, 226, 226);
                        color: rgb(178, 177, 177);
                        border: 2px dotted rgb(178, 177, 177);
                    }

                    @media(max-width: 1280px) {
                        height: auto;
                    }
                }
            }
        }

        // #endregion
    }
}

// #region CDK-Drag-Drop

.cdk-drop-list-dragging {
    height: 70dvh;
    border: 3px dotted #800000;
}

.cdk-drag-preview {
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translate(rotate(15deg));
}

.cdk-drag-placeholder {
    opacity: 0;
}

// #endregion