@use '../../../../public/styles/all_styles' as all;
@forward '../../../../public/styles/component-styles';

:host {
    @include all.size($w: 100%, $h: auto);
    padding: 3rem 3rem 0 3rem;

    @include all.notebook {
            height: 80dvh;
        }

        @include all.tablet {
            height: 70dvh;
            padding: 1rem 1rem 0 1rem;
        }

    // #region header
    header {
        @include all.fl($alit: center);
        padding: 1rem;

        .search-task-board {
            width: 100%;
            display: flex;
            justify-content: end;
            gap: 5rem;

            .search-task {

                @include all.mobile {
                    display: none;
                }
            }

            .btn-set {
                @include all.size($w: 12%);

                @include all.notebook {
                    #add-task-label {
                        display: none;
                    }
                }
            }
        }
    }

    // #endregion

    // #region search-task-container-mobile
    .search-task-container-mobile {
        display: none;

        // @include all.mobile {
        //     display: flex;
        //     padding: 0 2rem;
        // }
    }

    // #endregion

    // #region task-list-container
    .task-list-wrapper {
        display: flex;
        gap: 1rem;

        @include all.notebook {
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
            @include all.scrollbar();
        }

        .task-list {
            width: 100%;
            display: flex;
            flex-direction: column;

            @include all.notebook {
            height: 75dvh;
        }

            header {
                padding: 1rem;
                display: flex;
                justify-content: space-between;

                add-contact-btn {
                    width: 25%;
                }
            }

            main {
                display: flex;
                flex-direction: column;
                height: 70dvh;
                overflow-y: auto;
                @include all.scrollbar();

                @include all.notebook {
                    height: auto;
                    flex-direction: row;
                }

                .drag-content {
                    height: auto;
                }
            }
        }

        // #endregion
    }
}

// #region CDK-Drag-Drop

.cdk-drop-list-dragging {
    height: 100%;
    border: 3px dotted #800000;
}

.cdk-drag-preview {
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translate(rotate(15deg));
}

.cdk-drag-placeholder {
    opacity: 0;
}

// #endregion