<header>
    <h1>Board</h1>
    <app-search-task (seachOut)="filterTasks($event)"></app-search-task>
    <button class="btn-set"><span id="add-task-label">Add Task </span>+</button>
</header>
<div class="task-list-wrapper">
    <app-subtask [subtasks]="tasks[0].subtasks"></app-subtask>
    @for (list of taskLists; track list.listName) {
        <app-task-list-column id="task-list-comumn-{{ list.listName }}" [listName]="list.listName" [tasks]="getTaskForList(list.status)"></app-task-list-column>
    }
</div>