<header>
    <img src="/assets/Icons/contact/JoinLogo.png">
</header>
<main>
    <header>
        <button class="back"><img src="/assets/Icons/contact/arrow-left-line.png"></button>
        <div class="titlebox">
            <h1>Sign up</h1>
            <hr>
        </div>
    </header>
    <form>
        <div class="input-area">
            <div class="input-field">
                <input type="text" placeholder="Frirst name">
                <div class="errmsg"></div>
                <img class="formicon" src="/assets/Icons/signon/person.png">
            </div>
            <div class="input-field">
                <input type="text" placeholder="Last name">
                <div class="errmsg"></div>
                <img class="formicon" src="/assets/Icons/signon/person.png">
            </div>
            <div class="input-field">
                <input type="text" placeholder="E-Mail">
                <div class="errmsg"></div>
                <img class="formicon" src="/assets/Icons/signon/mail.png">
            </div>
            <div class="input-field">
                <input type="text" placeholder="Tel-No.">
                <div class="errmsg"></div>
                <img class="formicon" src="/assets/Icons/contact/call.png">
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password">
                <div class="errmsg"></div>
                <img class="formicon" src="/assets/Icons/signon/visibility_off.png">
                <img class="formicon d_none" src="/assets/Icons/signon/visibility.png">
            </div>
            <div class="input-field">
                <input type="password" placeholder="Confirm Password">
                <div class="errmsg"></div>
                <img class="formicon" src="/assets/Icons/signon/visibility_off.png">
                <img class="formicon d_none" src="/assets/Icons/signon/visibility.png">
            </div>
        </div>
        <div class="check-field">
            <input type="checkbox" id="chk-privacy-policy">
            <label for="chk-privacy-policy">I accept <a>Privacy policy</a></label>
        </div>
        <div class="submit-field">
            <input type="submit" value="Sign up" disabled class="btn-set">
        </div>
    </form>
</main>
<footer>
    <a>Privacy policy</a>
    <a>Legal notice</a>
</footer>