@use '../../../../public/styles/all_styles' as all;

:host {
    @include all.fl($jc: center, $alit: center);
    @include all.size($maxW: 100dvw, $maxH: 100dvh);
}

main {
    @include all.fl($flexdir: column, $gap: 3.2rem);
    @include all.marpad ($pad: 4.8rem 8.8rem);
}

header {
    @include all.fl($jc: center, $alit: center);
    width: 100%;
    button {
        position: absolute;
        left: -3.2rem;
        img {
            width: 3.2rem;
            height: 3.2rem;
        }
    }
}

.titlebox {
    @include all.fl($flexdir: column, $alit: center);
    hr {
        width: 15rem;
        border: 3px solid #29abe2;
        text-align: center;
        margin-top: 1.6rem;
    }
}