@use '../../../../public/styles/all_styles' as all;

:host {
    @include all.fl($flexdir: column, $jc: center, $alit: center);
    @include all.size($maxW: 100dvw, $maxH: 100dvh);
}

main {
    @include all.fl($flexdir: column, $gap: 3.2rem);
    @include all.marpad ($pad: 4.8rem 8.8rem);
}

header {
    @include all.fl($jc: center, $alit: center);
    width: 100%;
    button {
        position: absolute;
        left: -3.2rem;
        img {
            width: 3.2rem;
            height: 3.2rem;
        }
    }
}

.titlebox {
    @include all.fl($flexdir: column, $alit: center);
    hr {
        width: 15rem;
        border: 3px solid #29abe2;
        text-align: center;
        margin-top: 1.6rem;
    }
}

input[type=text], input[type=password] {
    width: 42rem;
    height: 4.8rem;
    border-radius: 1rem;
    padding: 1.2rem 6.4rem 1.2rem 2rem;
    border: 1px solid #d1d1d1;
    outline: none;
    font: 1.6rem 'InterRegular', sans-serif;
    &:focus {
        border: 1px solid #29abe2;
    }
}

.formicon {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    right: 2rem;
    top: 1.2rem;
}

input[type=text].error, input[type=password].error, input[type=text].error:focus, input[type=password].error:focus {
    border: 1px solid #e60026;
}

.errmsg {
    display: flex;
    align-items: center;
    height: 2rem;
    color: #e60026;
    font-size: 1rem;
}