<div class="add-task-priority-btn-container">
    <button type="button" class="priority-btn" (click)="setPriority(Priority.URGENT)"
        [ngClass]="{ 'active urgent': task().priority == Priority.URGENT}">
        <span>Urgent</span>
        @if(task().priority == Priority.URGENT){
        <img src="assets/Icons/taskBoard/prio_urgent_white.png" alt="">
        }
        @else {
        <img src="assets/Icons/taskBoard/prio_urgent_red.png" alt="">
        }
    </button>
    <button type="button" class="priority-btn" (click)="setPriority(Priority.MEDIUM)"
        [ngClass]="{ 'active medium': task().priority == Priority.MEDIUM}">

        <span>Medium</span>
        @if(task().priority == Priority.MEDIUM){
        <img src="assets/Icons/taskBoard/prio_medium_white.png" alt="">
        }
        @else {
        <img src="assets/Icons/taskBoard/prio_medium_orange.png" alt="">
        }
    </button>
    <button type="button" class="priority-btn" (click)="setPriority(Priority.LOW)"
        [ngClass]="{ 'active low': task().priority == Priority.LOW}">

        <span>Low</span>
        @if(task().priority == Priority.LOW){
        <img src="assets/Icons/taskBoard/prio_low_white.png" alt="">
        }
        @else {
        <img src="assets/Icons/taskBoard/prio_low_green.png" alt="">
        }
    </button>
</div>