<img src="assets/Icons/contact/JoinLogoWhite.png" alt="das Logo von Join">

<nav class="nav-buttons">
    <!-- @if(mobileLegalMode) { -->
        @for (navItem of items; track navItem.sectionId; let i = $index) {
        <button type="button" nav-item [item]="navItem" 
                [ngClass]="{ active: navItem.active }"
                [attr.aria-pressed]="navItem.active" 
                (click)="selectSection(i)">
            {{ navItem.title }}
        </button>
        }
    <!-- } -->
    <!-- @else {
        @for (navItem of item; track navItem.sectionId; let i = $index) {
            <app-mobile-nav-item [item]="navItem" (click)="selectLogin(i)">
            </app-mobile-nav-item>
        }
    } -->
</nav>

<div class="select-legal-button">
    <ol>
        @for (legalItem of itemLegal; track legalItem.sectionId; let i = $index) {
        <li>
            <button type="button" [ngClass]="{ active: legalItem.active }" 
                    [attr.aria-pressed]="legalItem.active"
                    (click)="selectLegal(i)">
                {{ legalItem.title }}
            </button>
        </li>
        }
    </ol>
</div>