@use './../../../../public/styles/all_styles.scss' as all;

:host {		
			grid-area: aside;
			@include all.size();
			@include all.fl($jc: space-between, $flexdir: column, $alit: center);
			padding: 20px 0;
			background: #2a3647;

			@include all.tablet {
				@include all.size($h: 10dvh);
				@include all.fl($jc: center, $alit: end);
			}

			img {
				@include all.size($w: 10rem, $h: 10rem);
				align-self: center;

				@include all.tablet {
					display: none;
					}
			}

			.nav-btn {
				width: 100%;
				@include all.fl($flexdir: column, $alit: center, $jc: center);

				@include all.tablet {
					@include all.size($h: 5rem);
					@include all.fl($flexdir: row);
					gap: 2rem;
					}

				@include all.mobile {
					gap: 1.5rem;
				}

				@include all.smart {
					gap: 0.1rem;

				}

				button {

					@include all.tablet {
						flex: 1;
						width: 10rem;
						@include all.fl($flexdir: column, $jc: center, $alit: center);
					}

					&:hover {
						background: #384a61;
					}
				}
			}
		}

	nav {
		ul {
			@include all.size($h: 12dvh);

				@include all.tablet {
						display: none;
					}

				li {
					height: 4dvh;
					width: 100%;
					@include all.fl($jc: center);

					@include all.tablet {
						display: none;
					}

					a:link, a:visited {
						width: 100%;
						color: grey;
						text-align: center;
						padding: 5px 0;
						margin: 5px 0;
						font-size: clamp(16px, 0.8dvw, 32px);

							&:hover {
							color: rgb(17, 119, 227);
						}
					}
				}
			}
		}