@use './../../../../public/styles/all_styles.scss' as all;

:host {		
			grid-area: aside;
			@include all.size();
			@include all.fl($jc: space-between, $flexdir: column, $alit: center);
			@include all.marpad($pad: 3rem 0);
			background: #2a3647;

			@include all.tablet {
				@include all.size($h: 10dvh);
				@include all.fl($jc: center, $alit: center);
				@include all.marpad($pad: 0.5rem)
			}

			img {
				@include all.size($w: 10rem, $h: 10rem);

				@include all.tablet {
					display: none;
					}
			}

			.nav-btn {
				width: 100%;
				@include all.fl($flexdir: column, $alit: center, $jc: center);

				@include all.tablet {
					@include all.size();
					@include all.fl($flexdir: row, $gap: 2rem, $jc: space-evenly);
					}

				@include all.mobile {
					gap: 0.8rem;
				}

				button {

					@include all.tablet {
						@include all.size($w: 10rem, $h: 8rem);
						@include all.fl($flexdir: column, $jc: center, $alit: center);
					}

					&:hover {
						background: #091930;
					}
				}
			}
		}

	nav {
		ul {
			@include all.size($h: 12dvh);

				@include all.tablet {
						display: none;
					}

				li {
					@include all.size($h: 5rem);
					@include all.fl($jc: center);

					@include all.tablet {
						display: none;
					}

					a:link, a:visited {
						@include all.size($h: auto);
						@include all.fl($jc: center);
						color: grey;
						font-size: clamp(16px, 0.8dvw, 32px);

							&:hover {
							color: rgb(17, 119, 227);
						}
					}
				}
			}
		}