@use './../../../../public/styles/all_styles.scss' as all;

// #region host
:host {
	@include all.fl($jc: space-between, $flexdir: column, $alit: center);
	@include all.marpad($pad: 5rem 0);
	grid-area: aside;
	background: #2a3647;

	@include all.tablet {
		@include all.fl($jc: center, $alit: center);
		@include all.marpad($pad: 0.5rem);
	}

	@include all.mobile {
		width: 100dvw;
		@include all.fl($jc: center, $alit: center);
		@include all.marpad($pad: 0.5rem);
	}

	img {

		@include all.tablet {
			display: none;
		}
	}

	// #endregion

	// #region nav-btn
	.nav-btn {
		width: 100%;
		@include all.fl($flexdir: column, $alit: center, $jc: center);

		@include all.tablet {
			@include all.fl($gap: 1%, $jc: space-evenly);
		}

		button {

			@include all.tablet {
				@include all.size($w: 10rem, $h: 8rem);
				@include all.fl($flexdir: column, $jc: center, $alit: center);
			}

			&:hover {
				background: #091930;
			}
		}
	}
}

// #endregion

// #region nav
nav {
	@include all.size($w: 100%);

	@include all.tablet {
		display: none;
	}

	ul {
		@include all.size($h: 100%);
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 1rem;

		@include all.tablet {
			display: none;
		}

		button {
			@include all.size($h: 100%);
			@include all.fl($jc: center, $alit: center);
			color: grey;
			background-color: transparent;
			font-size: 1.6rem;

			&:hover {
				color: rgb(17, 119, 227);
			}
		}
	}
}

// #endregion