@use '../../../../../public/styles/all_styles' as all;

:host {
    @include all.size($h: 4.8rem);
}

form {
    @include all.size();

    input[type=text] {
        display: flex;
        @include all.size($h: 4.8rem);
        @include all.marpad($pad: 8px 16px);
        outline: none;
        border-radius: 10px;
        border: 1px solid #a8a8a8;

        &::placeholder {
            color: #d1d1d1;
        }

        &:focus {
            border-color: #29abe2;
        }
    }

    hr {
        height: 60%;
        width: 2px;
        position: absolute;
        top: 20%;
        right: 48px;
    }

    input[type=submit] {
        height: 4.8rem;
        aspect-ratio: 1 / 1;
        background: url(../../../../../public/assets//Icons//taskBoard/searchDefault.png) no-repeat center / cover;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        &:hover {
            background: url(../../../../../public/assets//Icons//taskBoard/searchHover.png) no-repeat center / cover;
        }
        &:active {
            background: url(../../../../../public/assets//Icons//taskBoard/searchClick.png) no-repeat center / cover;
        }
    }
}