<aside id="addContactModal" class="add-contact-modal-container" [style.visibility]=isVisible>
    <div class="leftpanel">
        <img src="assets/Icons/JoinLogoWhite.png" alt="">
        <div class="add-contact-header">
            <h1 id="add-contact-headline">{{ kindOfHeadlineTxt }} Contact</h1>
            <h2>Tasks are better with a team!</h2>
        </div>
        <div class="mobile-close-btn">
            <button type="button" (click)="closeModal()">x</button>
        </div>
    </div>

    <div class="rightpanel">
        <div class="line-close-btn">
            <button type="button" (click)="closeModal()">x</button>
        </div>
        <div class="line-form">
            <img src="assets/Icons/contact_icon_grey.png" alt="">

            <form action="submit" method="post" *ngIf="(contact$() | async) as contact ">
               <input type="text" name="firstname" id="firstname" placeholder="firstname" [(ngModel)]="contact.firstname" required minlength="3" >
               <input type="text" name="lastname" id="lastname" placeholder="lastname" [(ngModel)]="contact.lastname"  required minlength="3" >
               <input type="email" name="email" id="email" placeholder="e-mail" [(ngModel)]="contact.email" required minlength="9">
               <input type="tel" name="tel" id="tel" placeholder="phonenumber" [(ngModel)]="contact.tel" required minlength="7">
               <div class="form-button-container">
                   <button type="button" (click)="closeModal()" >Cancel X</button>
                   <button id="create-contact-btn" type="submit" (click)="addContact()">{{ kindOfButtonTxt }}</button>
               </div>
            </form>
            
        </div>

    </div>
</aside>    