<aside id="addContactModal" class="add-contact-modal-container">
    <div class="leftPanel">
        <img src="assets/Icons/JoinLogoWhite.png" alt="">
        <div class="addContactHeader">
            <h1 id="addContactHeadline">{{ cs.modalHeadlineTxt | async }} Contact</h1>
            <h2>Tasks are better with a team!</h2>
            <hr>
        </div>
        <div class="mobileCloseBtn d_none">
            <button type="button" (click)="cs.closeModal()">X</button>
        </div>
    </div>

    <div class="rightPanel">
        <div class="lineCloseBtn">
            <button type="button" (click)="cs.closeModal()">x</button>
        </div>
        <div class="lineForm">
            <img class="singleIcon" src="assets/Icons/contact_icon_grey.png" alt="">

            <form method="post" (submit)="submitForm($event)" *ngIf="cs.contactToEdit | async as contact">
                <div class="formField">
                    <div class="inputImg">
                        <input type="text" name="firstname" id="firstname" placeholder="firstname" [(ngModel)]="contact.firstname" (keyup)="validateFirstName()">
                        <img src="assets/Icons/person.png" alt="">
                    </div>
                    <div #errEl class="errmsg"></div>
                </div>
                <div class="formField">
                    <div class="inputImg">
                        <input type="text" name="lastname" id="lastname" placeholder="lastname" [(ngModel)]="contact.lastname" (keyup)="validateLastName()">
                        <img src="assets/Icons/person.png" alt="">
                    </div>
                    <div #errEl class="errmsg"></div>
                </div>
                <div class="formField">
                    <div class="inputImg">
                        <input type="text" name="email" id="email" placeholder="email" [(ngModel)]="contact.email" (keyup)="validateEmail()">
                        <img src="assets/Icons/mail.png" alt="">
                    </div>
                    <div #errEl class="errmsg"></div>
                </div>
                <div class="formField">
                    <div class="inputImg">
                        <input type="text" name="tel" id="tel" placeholder="tel" [(ngModel)]="contact.tel" (keyup)="validateTel()">
                        <img src="assets/Icons/call.png" alt="">
                    </div>
                    <div #errEl class="errmsg"></div>
                </div>
                <div class="formBtnContainer">
                    <input id="deleteContactBtn" *ngIf="cs.isEditModalOpen | async" type="button" class="deleteBtnMobile" (click)="cs.deleteContactInDB(contact)" value="Delete">
                    <input type="button" (click)="cs.closeModal()" value="Cancel X">
                    <input id="createContactBtn" class="createBtn" type="submit" value="{{ cs.modalSaveBtnTxt | async }}">
                </div>
            </form>
            
        </div>

    </div>
</aside>  