@use '../../../../public/styles/all_styles' as all;

#addContactModal {
    @include all.fl($jc: center, $alit: center);
    @include all.size($w: 100rem, $h: 65dvh);
    background-color: white;
    border-radius: 16px;
}

.left-panel {
    @include all.fl($flexdir: column, $jc: center);
    @include all.size($w: 40%);
    background-color: #2a3647;
    padding: 0 2rem;
    border-radius: 16px 0 0 16px;

    .mobile-close-btn {
        display: none;

        button {
            @include all.size($w: 48px, $h: 48px);
            color: white;
            border: none;
            background: transparent;
        }
    }
}

.line-close-btn {
    width: 100%;
    @include all.fl($jc: end);
    margin: 2rem 0;
    display: none;
}

hr {
    @include all.size($w: 60px, $h: 3px);
    background: rgb(17, 148, 213);
    border: none
}

img {
    @include all.size($w: 4rem, $h: 4rem);
    margin-bottom: 2rem;

    @include all.tablet {
        display: none;
    }
}

h1 {
    color: white;
    font-size: clamp(28px, 4vw, 48px); 
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

h2 {
    width: 100%;
    color: white;
    font-size: clamp(16px, 2vw, 24px); 
    margin-bottom: 1rem;
}

.right-panel {
    @include all.size($w: 60%, $h: 100%);
    // padding: 1rem 2rem;
    @include all.fl($flexdir: column);

    @include all.tablet {
        @include all.size($w: 100%, $h: auto);
        @include all.fl($alit: flex-start); 
        padding: 0;
    }

    .line-close-btn { 
        width: 100%;
        @include all.fl($jc: end);
        margin: 2rem 0;

        @include all.tablet {
            display: none;
        }
    }

    .line-form {
        @include all.size($w: 100%, $h: auto);
        padding-top: 9rem;
        @include all.fl($alit: center, $jc: space-between);

        @include all.tablet {
            flex-direction: column;
            padding-top: 9rem;
            align-items: center; 
        }

        .single-icon {
            @include all.size($w: 35%, $h: 180px);

            @include all.tablet {
                @include all.size($w: 10rem, $h: 10rem);
                position: absolute;
                display: block;
                // top: -15dvh;
                // left: 50%;
                transform: translate(-50%,70%);
                object-fit: contain;
                border-radius: 50%;
                background: white;
                z-index: 1;
            }
        }
    }
    
    form {
        @include all.size();
        
        .form-field {
            @include all.size($w: 100%, $h: auto);
            @include all.fl($flexdir: column, $alit: center);
            margin-bottom: 1.5rem;
            
            .input-img {
                @include all.size($w: 70%, $h: 40px);
                @include all.fl($jc: space-between, $alit: center);
                padding: 0 10px;
                border: 1px solid grey;
                border-radius: 5px;
                
                input {
                    @include all.size();
                    outline: none;
                }
                
                img {
                    @include all.size($w: 20px, $h: 20px);
                    margin: 0; 
                    display: flex;
                }
                
                @include all.notebook {
                    width: 90%;
                    padding: 0 15px;
                }
                
                @include all.tablet {
                    width: 60%;
                    padding: 0 15px;
                }
                
                @include all.mobile {
                    width: 60%;
                    padding: 0 15px;
                }
                
                @include all.smart {
                    width: 70%;
                    padding: 0 15px;
                }
            }
            
            .errmsg {
                @include all.size($w: 70%, $h: 1rem);
                color: #c00000;
                font-size: 1rem;
                padding: 4px 16px;
                
                @include all.tablet {
                    padding-left: 40px;
                }
            }
        }
    }
}
    
.form-btn-container {
    @include all.size($h: 20%);
    @include all.fl($jc: center, $flexdir: row);
    margin-top: 2rem;
    gap: 1rem;

    @include all.tablet {
        gap: 0.5rem;
        flex-direction: row; 
    }

    input {
        @include all.size($w: 11rem, $h: 4rem);
        border: 1px solid lightgrey;
        border-radius: 5px;

        &:hover {
            background: #2a3647;
            color: white;
        }

        @include all.tablet {
            display: none;
        }
    }

    #create-contact-btn {
        
        @include all.tablet {
            width: 20%;
            @include all.fl($jc: center, $alit: center);

            &:hover {
                background: #2a3647;
                color: white;
            }
        }
    }
    .delete-btn-mobile {
        display: none;

        @include all.tablet {
            @include all.size($w: 11rem, $h: 4rem);
            border: 1px solid lightgrey;
            border-radius: 5px;
            @include all.fl($alit: center, $jc: center);

            &:hover {
                background: #2a3647;
                color: white;
            }
        }
    }
}