@use './../../../../../../public/styles/all_styles.scss' as all;

:host {
	@include all.size();
	@include all.fl($jc: center, $alit: center);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 30;

	.task-modal-overlay {
		@include all.size();
		@include all.fl($jc: center, $alit: center);
	}

	.task-modal-detail-container {
		@include all.size($w: 50dvh, $h: 80dvh);
		@include all.marpad($pad: 2.5rem);
		background: rgb(254, 253, 253);
		border-radius: 1rem;
		box-shadow: 0 0 5px lightgrey;
		font-family: 'InterRegular', sans-serif;

		.task-modal-header {
			@include all.fl($jc: space-between);

			h2 {
				@include all.size($w: fit-content, $h: auto);
				@include all.marpad($mar: 0 0 2rem 0, $pad: 0.8rem);
				@include all.fl($jc: center);
				color: white;
				border-radius: 1rem;
			}

			.blue {
				background: blue;
			}

			.green {
				background: rgb(16, 249, 249);
			}

			.task-modal-close-btn {
				@include all.size($w: 1.6rem, $h: 1.6rem);

				button {

					&:hover {
						color: #29ABE2;
					}
				}
			}
		}

		.title {
			@include all.size($h: auto);
			@include all.limiter();
			white-space: wrap;
			font-size: 4.5rem;
			font-family: 'Inter', sans-serif;
			font-weight: bold;
		}

		.description {
			@include all.fl($alit: center);
			@include all.size($h: 2rauto);
			@include all.limiter();
			white-space: wrap;
			font-size: 2rem;
			height: 5dvh;
		}

		.task-modal-dueDate-container {
			@include all.fl($alit: center, $gap: 2rem);
			height: 4dvh;
			font-size: 1.7rem;
		}

		.task-modal-priority-container {
			@include all.fl($alit: center);
			gap: 2rem;
			height: 5dvh;

			.task-modal-priority {
				@include all.fl($alit: center, $jc: center, $gap: 1rem);
				height: 5dvh;
				width: 30%;

				p {
					font-size: 1.6rem;
				}

				img {
					@include all.size($w: 2rem, $h: 1.2rem);
				}
			}
		}

		.task-modal-assigned-container {
			height: 21dvh;
			overflow-y: auto;
			@include all.marpad($mar: 2rem 0 0 0);

			.task-modal-assigned-detail {
				@include all.fl($flexdir: column, $gap: 1rem);
				@include all.marpad($pad: 2rem);

				.contact-item {
					@include all.fl($alit: center, $gap: 2rem);

					.contact-icon {
						@include all.size($w: 4.2rem, $minW: 4.2rem, $h: 4.2rem, $minH: 4.2rem);
					}

					.contact-name {
						font-size: 1.5rem;
					}
				}
			}

		}

		.task-modal-subtasks {
			@include all.size($h: 15dvh);
			@include all.fl($flexdir: column);
			@include all.marpad($mar: 2rem 0);

			.task-modal-input {
				@include all.size($w: 20dvw, $h: 2rem);
				@include all.marpad($mar: 2rem 0 0 2rem);
				@include all.fl($alit: center, $gap: 1rem);
				font-size: 1.7rem;

				input {
					@include all.fl($alit: center);
				}
			}
		}

		.task-option-container {
			@include all.fl($jc: end, $gap: 1rem, $alit: center);
			padding: 1rem;

			button {
				@include all.fl($alit: center);
			}

			hr {
				@include all.size($w: 0.2rem, $h: 3rem);
				color: lightgrey
			}
		}

		h3 {
			font-size: 2rem;
			font-family: 'Inter', sans-serif;
			font-weight: 300;
		}
	}
}