@use './../../../../../../public/styles/all_styles.scss' as all;

:host {

	.task-modal-container {
		@include all.size($w: 25rem, $h: auto);
		@include all.marpad($pad: 1.5rem);
		background: rgb(254, 253, 253);
		border-radius: 1rem;
		box-shadow: 0 0 5px lightgrey;
		font-family: 'InterRegular', sans-serif;

		.task-modal-header {
			display: flex;
			justify-content: space-between;

			h2 {
				@include all.size($w: fit-content, $h: auto);
				@include all.marpad($mar: 0 0 2rem 0, $pad: 0.8rem);
				@include all.fl($jc: center);
				color: white;
				border-radius: 1rem;
			}

			.blue {
				background: blue;
			}

			.green {
				background: rgb(16, 249, 249);
			}

			.task-modal-close-btn {
				width: 16px;
				height: 16px;
			}
		}

		.title {
			@include all.size($h: auto);
			@include all.limiter();
			white-space: wrap;
			font-size: 2.5rem;
			font-family: 'Interbold', sans-serif;
		}

		.description {
			@include all.size($h: 2rem);
			@include all.limiter();
			white-space: wrap;
			font-size: 1.5rem;
		}

		.task-modal-dueDate-container {
			display: flex;
			align-items: center;
			gap: 2rem;

			p {
				font-size: 1.2rem;
			}
		}

		.task-modal-priority-container {
			display: flex;
			align-items: center;
			gap: 2rem;

			p {
				font-size: 1.2rem;
			}

			.task-modal-priority {
				display: flex;
				align-items: center;
				gap: 1rem;

				p {
					font-size: 1.2rem;
					font-family: 'Interbold', sans-serif;
				}

				img {
					@include all.size($w: 1.5rem, $h: 1rem);
				}
			}
		}

		.task-modal-assigned-container {

			p {
				font-size: 1.2rem;
			}

			.icon-name {
				border: 2px solid red;
				display: flex;
				align-items: center;
				gap: 2rem;
			}
		}
	}
}