@use './../../../../../../public/styles/all_styles.scss' as all;

:host {
	@include all.size();
	@include all.fl($jc: center, $alit: center);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	.task-modal-overlay {
		@include all.size();
		@include all.fl($jc: center, $alit: center);
	}

	.task-modal-detail-container {
		@include all.size($w: 40dvh, $h: auto);
		@include all.marpad($pad: 1rem);
		background: rgb(254, 253, 253);
		border-radius: 1rem;
		box-shadow: 0 0 5px lightgrey;
		@include all.font-style($family: unquote("InterRegular, sans-serif"));

		@include all.mobile {
			@include all.size($w: 40dvh, $h: auto, $maxH: 75dvh);
		}

		@media(max-width: 390px) {
			@include all.size($maxW: 32dvh, $h: auto, $maxH: 70dvh);
			border-radius: 1.8rem;
		}

		.task-modal-header {
			@include all.fl($jc: space-between);

			h2 {
				@include all.size($w: fit-content, $h: auto);
				@include all.marpad($mar: 0 0 2rem 0, $pad: 0.8rem);
				@include all.fl($jc: center);
				color: white;
				border-radius: 1.2rem;
				@include all.font-style($size: 1.8rem, $weight: lighter);
			}

			.blue {
				background: blue;
			}

			.green {
				background: rgb(16, 249, 249);
			}

			.task-modal-close-btn {
				@include all.size($w: 1.6rem, $h: 1.6rem);

				button {

					&:hover {
						color: #29ABE2;
					}
				}
			}
		}

		.title {
			@include all.size($h: auto);
			@include all.limiter();
			@include all.font-style($size: 4rem, $weight: bold);
			white-space: wrap;
		}

		.description {
			@include all.fl($alit: center);
			@include all.size($h: auto);
			@include all.limiter();
			@include all.marpad($mar: 1.5rem 0 0.6rem 0);
			@include all.font-style($size: 1.7rem);
			white-space: wrap;

		}

		.task-modal-dueDate-container {
			@include all.fl($alit: center, $gap: 2rem);
			@include all.size($h: 4dvh);
			@include all.font-style($size: 1.5rem);
		}

		.task-modal-priority-container {
			@include all.fl($alit: center, $gap: 2rem);
			@include all.size($h: 4dvh);

			.task-modal-priority {
				@include all.fl($alit: center, $jc: center, $gap: 1rem);
				@include all.size($w: 30%, $h: 4dvh);

				p {
					@include all.font-style($size: 1.5rem);
				}

				img {
					@include all.size($w: 2rem, $h: 1.2rem);
				}
			}
		}

		.task-modal-assigned-container {
			@include all.marpad($mar: 0.8rem 0 0 0);

			.task-modal-assigned {
				@include all.size($h: 18.5dvh);
				overflow-y: auto;
				// scrollbar-width: none;
				// -ms-overflow-style: none;

				// &::-webkit-scrollbar {
				// 	display: none;
				// }

				.task-modal-assigned-detail {
					@include all.fl($flexdir: column, $gap: 1rem);
					@include all.marpad($pad: 2rem);

					.contact-item {
						@include all.fl($alit: center, $gap: 2rem);

						.contact-icon {
							@include all.size($w: 4.2rem, $minW: 4.2rem, $h: 4.2rem, $minH: 4.2rem);
						}

						.contact-name {
							size: 1.5rem;
						}
					}
				}
			}
		}

		.task-modal-subtasks {
			@include all.size($h: 8dvh);
			@include all.fl($flexdir: column);
			@include all.marpad($mar: 2rem 0 0 0);

			.task-modal-input {
				@include all.limiter();
				@include all.size($w: auto, $h: 2rem);
				@include all.marpad($mar: 0.5rem 0 0 1rem);
				@include all.fl($alit: center, $gap: 1rem);
				@include all.font-style($size: 1.7rem);

				input {
					@include all.fl($alit: center);
				}
			}
		}

		.task-option-container {
			@include all.size($h: 3rem);
			@include all.fl($jc: end, $gap: 1rem, $alit: center);
			@include all.marpad($pad: 1rem);

			button {
				@include all.fl($alit: center);
			}

			hr {
				@include all.size($w: 0.2rem, $h: 3rem);
				color: lightgrey
			}
		}

		h3 {
			@include all.font-style($size: 1.5rem, $weight: 300);
		}
	}
}