@use './../../../../../../public/styles/all_styles.scss' as all;

:host {
	//@include all.size();
	@include all.fl($jc: center, $alit: center);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	.modal-overlay {
		@include all.fl($alit: center, $jc: center);
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 12;
	}

	.task-modal-detail-container {
		@include all.size($w: 30%, $h: 80dvh);
		@include all.marpad($pad: 2rem);
		background: rgb(254, 253, 253);
		border-radius: 2rem;
		box-shadow: 0 0 5px lightgrey;

		@media(max-width: 1300px) {
			width: 40dvw;
		}

		@include all.notebook {
			@include all.size($w: 50dvw, $h: 80dvh);
		}

		@include all.tablet {
			@include all.size($w: 60dvw, $h: 80dvh);
		}

		@include all.mobile {
			@include all.size($w: 40dvh, $h: 75dvh);
		}

		.task-modal-header {
			@include all.fl($jc: space-between);

			h2 {
				@include all.marpad($mar: 0 0 2rem 0, $pad: 0.8rem);
				@include all.fl($jc: center);
				color: white;
				border-radius: 1.2rem;
			}

			.blue {
				background: #0038FF;
			}

			.green {
				background: #1fd7c1;
			}

			.yellow {
				background: teal;
			}

			#task-modal-close-btn {
				@include all.size($w: 1.6rem, $h: 1.6rem);
				@include all.absolute($top: 0, $right: 0);
				position: absolute;
				z-index: 2;


				button {
					font-size: 2rem;

					&:hover {
						color: #29ABE2;
					}
				}
			}
		}

		.title {
			@include all.limiter();
			font-size: 2.8rem;
			white-space: wrap;
		}

		.description {
			@include all.fl($alit: center);
			@include all.limiter();
			@include all.marpad($mar: 1.5rem 0 0.6rem 0);
			white-space: wrap;

		}

		.task-modal-dueDate-container {
			@include all.fl($alit: center, $gap: 2rem);
			@include all.size($h: 4dvh);
		}

		.task-modal-priority-container {
			@include all.fl($alit: center, $gap: 2rem);
			@include all.size($h: 4dvh);

			.task-modal-priority {
				@include all.fl($alit: center, $jc: center, $gap: 1rem);
				@include all.size($w: 30%, $h: 4dvh);

				img {
					@include all.size($w: 2rem, $h: 1.2rem);
				}
			}
		}

		.task-modal-assigned-container {
			@include all.marpad($mar: 0.8rem 0 0 0);

			.task-modal-assigned {
				@include all.size($h: 17dvh);
				@include all.scrollbar();
				overflow-y: auto;
			}

			.task-modal-assigned-detail {
				@include all.fl($flexdir: column, $gap: 1rem);
				@include all.marpad($pad: 2rem);

				.contact-item {
					@include all.fl($alit: center, $gap: 2rem);

					.contact-icon {
						@include all.size($w: 4.2rem, $h: 4.2rem);
					}
				}
			}
		}
	}

	.task-modal-subtasks {
		@include all.fl($flexdir: column);
		@include all.marpad($mar: 2rem 0 0 0);

		.task-modal-subtask-container {
			@include all.marpad($pad: 1rem);
			@include all.fl($alit: center, $flexdir: column, $gap: 1rem);
			@include all.scrollbar();
			@include all.size($w: 100%, $h: 10rem);
			overflow-y: auto;

			@include all.mobile {
				@include all.marpad($pad: 0.5rem);
				@include all.scrollbar();
				@include all.size($w: 100%, $h: 6rem);
				overflow-y: auto;
			}

			.task-modal-input {
				@include all.size($w: 100%, $h: 2rem);
				@include all.fl($alit: center, $gap: 1rem);

				input {
					@include all.fl($alit: center);
				}
			}
		}
	}

	.task-option-container {
		position: fixed;
		bottom: 2rem;
		@include all.size($w: 90%, $h: 3rem);
		@include all.fl($jc: end, $gap: 1rem, $alit: center);
		@include all.marpad($pad: 1rem);

		button {
			@include all.fl($alit: center);
		}

		hr {
			@include all.size($w: 0.2rem, $h: 3rem);
			color: lightgrey
		}
	}

	h3 {
		color: #42526e;
	}
}