<!-- Modal Overlay -->
@if (currentTask) {

<div class="modal-overlay" (mousedown)="overlayMouseDown($event)">

	<!-- Modal Container -->
	<div class="task-modal-detail-container" [@slideInOut]="isOpen ? 'open' : 'closed'"
		(click)="$event.stopPropagation()">

		<div class="task-modal-header">
			<h2
				[ngClass]="{ blue: currentTask.category === Category.USERSTORY, green: currentTask.category === Category.TECHNICAL, yellow: currentTask.category === Category.TASK}">
				{{ currentTask.category }}
			</h2>

			<button class="close" type="button" (click)="closeTaskModal()">X</button>
		</div>

		<div class="task-detail-main-container">

			<!-- Title + Description -->
			<section class="title-description-container">
				<div class="title">{{ currentTask.title }}</div>
				<div class="description">{{ currentTask.description }}</div>
			</section>

			<!-- Due Date -->
			<section class="task-modal-dueDate-container">
				<h3>Due date:</h3>
				<p>{{ currentTask.dueDate.toDate() | date: 'dd.MM.yyyy' }}</p>
			</section>

			<!-- Priority -->
			<section class="task-modal-priority-container">
				<h3>Priority:</h3>
				<div class="task-modal-priority">
					<p>{{ currentTask.priority }}</p>
					<img [src]="'assets/Icons/taskBoard/' + (currentTask.priority | lowercase) + 'Task.png'"
						alt="Priority Icon" />
				</div>
			</section>

			<!-- Assigned Contacts -->
			<section class="task-modal-assigned-container">
				<h3>Assigned To:</h3>
				<div class="task-modal-assigned">
					<div class="task-modal-assigned-detail">
						@for (contact of currentTask.contacts; track contact.id) {
						<div class="contact-item">
							<app-contact-icon class="contact-icon {{ contact.iconColor }}"
								[contact]="contact"></app-contact-icon>
							<span class="contact-name">
								{{ contact.getFullName() }}
							</span>
						</div>
						}
					</div>
				</div>
			</section>

			<!-- Subtasks -->
			<section class="task-modal-subtasks">
				<h3>Subtasks:</h3>
				<div class="task-modal-subtask-container">
					@for (subtask of currentTask.subtasks; track subtask.id) {
					@if (subtask.editState != SubtaskEditState.DELETED) {
					<label class="task-modal-input">
						<input type="checkbox" [checked]="subtask.finished"
							(change)="updateSubTaskStatus(subtask, $event)" />
						<span [title]="subtask.name">
							{{
							subtask.name.length > 30
							? (subtask.name | slice: 0: 30) + '...'
							: subtask.name
							}}
						</span>
					</label>
					}
					}
				</div>
			</section>

		</div>

		<footer class="task-option-container">
			<button (click)="fireDB.deleteTaskInDB('tasks', currentTask); closeTaskModal()">
				<img class="delete-btn" src="assets/Icons/taskBoard/delete.png" alt="Delete" />
				Delete
			</button>

			<hr />

			<button (click)="modalService.openAddTaskModal(currentTask); closeTaskModal()">
				<img src="assets/Icons/taskBoard/edit.png" alt="Edit" />
				Edit
			</button>
		</footer>

	</div>
</div>
}