@use './../../../../../../public/styles/all_styles.scss' as all;

:host {
	border-radius: 1.5rem;
	width: 40%;
	z-index: 200;
	top: -20rem;

	.task-modal-container {
		@include all.size($h: 80dvh);
		@include all.marpad($pad: 1.5rem);
		background: rgb(254, 253, 253);
		border-radius: 1rem;
		box-shadow: 0 0 5px lightgrey;
		font-family: 'InterRegular', sans-serif;

		.task-modal-header {
			display: flex;
			justify-content: space-between;

			h2 {
				@include all.size($w: fit-content, $h: auto);
				@include all.marpad($mar: 0 0 2rem 0, $pad: 0.8rem);
				@include all.fl($jc: center);
				color: white;
				border-radius: 1rem;
			}

			.blue {
				background: blue;
			}

			.green {
				background: rgb(16, 249, 249);
			}

			.task-modal-close-btn {
				width: 16px;
				height: 16px;
			}
		}

		.title {
			@include all.size($h: auto);
			@include all.limiter();
			white-space: wrap;
			font-size: 4.5rem;
			font-family: 'Inter', sans-serif;
			font-weight: bold;
		}

		.description {
			@include all.size($h: 2rauto);
			@include all.limiter();
			white-space: wrap;
			font-size: 2rem;
			height: 5dvh;
			display: flex;
			align-items: center;
		}

		.task-modal-dueDate-container {
			display: flex;
			align-items: center;
			gap: 2rem;
			height: 4dvh;
			display: flex;
			align-items: center;
			font-size: 1.7rem;
		}

		.task-modal-priority-container {
			display: flex;
			align-items: center;
			gap: 2rem;
			height: 5dvh;
			display: flex;
			align-items: center;

			.task-modal-priority {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 1rem;
				height: 5dvh;
				width: 30%;

				p {
					font-size: 1.6rem;
				}

				img {
					@include all.size($w: 2rem, $h: 1.2rem);
				}
			}
		}

		.task-modal-assigned-container {
			height: 20dvh;
			gap: 2rem;
			margin-top: 2rem;
			}

		.task-modal-subtasks {
			height: 10dvh;
			display: flex;
			flex-direction: column;
		}

		.task-option-container {
			display: flex;
			justify-content: end;
			gap: 1rem;

			button {
				display: flex;
				align-items: center;
			}
		}

		h3 {
			font-size: 2rem;
			font-family: 'Inter', sans-serif;
			font-weight: 300;
		}
	}
}