@use '../../../../../public/styles/all_styles.scss' as all;

:host {
	@include all.fl();

	.task-column-container {
		@include all.size($w: 26rem, $h: 28rem);
		@include all.marpad($mar: 0 0 1rem 0, $pad: 1.5rem);
		@include all.borRad($radius: 1.6rem);
		background: rgb(254, 253, 253);
		box-shadow: 0 0 5px lightgrey;
		cursor: pointer;

		@include all.notebook {
			@include all.marpad($mar: 0 1rem 0 0, $pad: 1rem);
		}

		.task-column-item-header {
			@include all.size($h: 3.5rem);
			@include all.marpad($mar: 0 0 2rem 0);
		}


		h2 {
			@include all.size($w: fit-content, $h: 3rem);
			@include all.marpad($mar: 0 0 2rem 0, $pad: 0.5rem);
			@include all.fl($jc: center);
			@include all.borRad($radius: 0.8rem);
			font-size: 1.8rem;
			font-weight: lighter;
			color: white;
		}

		.blue {
			background: #0038FF;
		}

		.green {
			background: #1fd7c1;
		}

		.yellow {
			background: teal;
		}

		.title {
			@include all.size($w: 100%, $h: auto);
			@include all.limiter();
			@include all.marpad($mar: 0 0 2rem 0);
			font-size: 1.8rem;
			font-weight: bold;
			white-space: wrap;
		}

		.description {
			@include all.size($w: 100%, $h: auto);
			@include all.marpad($mar: 0 0 1rem 0);
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			line-clamp: 2;
			max-height: 7rem;
			font-size: 1.8rem;
			color: grey;
		}

		.subtask-progress-box {
			position: relative;
			@include all.marpad($mar: 1rem 0, $pad: 0.6rem 0.8rem);
			cursor: pointer;

			.progress-bar-wrapper {

				.progress-bar-background {
					@include all.size($h: 0.8rem);
					@include all.borRad($radius: 1rem);
					background-color: #e0e0e0;
					overflow: hidden;

					.progress-bar-fill {
						@include all.size($h: 100%);
						background-color: #3694ff;
						transition: width 0.3s ease;
					}
				}

				.subtask-counter {
					@include all.marpad($mar: 0.3rem 0 0 0);
					display: block;
					text-align: right;
					font-size: 1.2rem;
					color: #555;
				}
			}

			.subtask-tooltip {
				@include all.size($w: max-content);
				@include all.absolute($bottom: 125%, $left: 50%);
				@include all.marpad($pad: 0.6rem 1rem);
				@include all.borRad($radius: 0.7rem);
				transform: translateX(-50%);
				background-color: #333;
				color: #eae9e9;
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
				font-size: 1.4rem;
				white-space: nowrap;
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.2s ease;
				z-index: 10;

				.subtask-list {
					@include all.fl($flexdir: column, $gap: 0.5rem);
					@include all.marpad($pad: 0, $mar: 1rem 0 0);
					list-style: none;

					.subtask-item {
						@include all.fl($alit: center, $gap: 0.4rem);
						font-size: 1.3rem;

						input {
							pointer-events: none;
							accent-color: #f4b400;
						}

						.completed {
							text-decoration: line-through;
							color: #aaa;
						}
					}
				}
			}

			&:hover .subtask-tooltip {
				opacity: 1;
			}
		}

		.progress-bar-wrapper {
			@include all.fl($alit: center, $gap: 1rem);
		}

		.progress-bar-background {
			@include all.size($h: 0.8rem);
			flex-grow: 1;
			background-color: #dedddd;
			border-radius: 4px;
			overflow: hidden;
		}

		.progress-bar-fill {
			@include all.size($w: 100%, $h: 0.8rem);
			background-color: #3b82f6;
			transition: width 0.3s ease-in-out;
		}

		.subtask-counter {
			@include all.font-style($size: 1.5rem);
			white-space: nowrap;
		}

		.column-bottom-container {
			@include all.fl($alit: center, $jc: space-between);

			img {
				@include all.size($w: 2rem, $h: 1.2rem);
			}
		}
	}
}