@use '../../../../../public/styles/all_styles.scss' as all;

:host {
	width: 20dvw;
}

.task-column-container {
	@include all.size($w: 100%, $h: auto);
	background: rgb(254, 253, 253);
	border-radius: 16px;
	box-shadow: 0 0 5px lightgrey;


}