<div class="task-column-container">
	<div class="task-column-item-header">
		<h2
			[ngClass]="{ blue: task().category == Category.USERSTORY, green: task().category == Category.TECHNICAL, yellow: task().category == Category.TASK}">
			{{ task().category }}
		</h2>

		<div class="mobile-options-container" id="mobileMenu">
			<button class="option-btns" (click)="toggleMenu()">
				<span class="dot"></span>
				<span class="dot"></span>
				<span class="dot"></span>
			</button>
		</div>

		<div class="dropdown" *ngIf="isMenuVisible" (click)="$event.stopPropagation()">
			<a>To Do</a>
			<a>In progress</a>
			<a>Await Feedback</a>
			<a>Donet</a>
		</div>
	</div>
	<div class="main-info-container" (click)="modalService.openTaskDetailModal(task())">
		<h3 class="title">
			<span class="text">{{ task().title }}</span>
		</h3>
		<p class="description limiter">{{task().description}}</p>

		@if (isSubtaskProgressVisible) {
		<div class="subtask-progress-box" (click)="$event.stopPropagation()">

			<div class="progress-bar-wrapper">
				<div class="progress-bar-background">
					<div class="progress-bar-fill" [style.width.%]="subtaskProgressPercentage"></div>
				</div>
				<span class="subtask-counter">
					<p>{{ completedSubtaskCount }}/{{ totalSubtaskCount }} Subtasks</p>
				</span>
			</div>

			<div class="subtask-tooltip">
				<strong>{{ completedSubtaskCount }} von {{ totalSubtaskCount }} Subtasks erledigt</strong>
				<ul class="subtask-list">
					@for (subtask of task().subtasks; track subtask.id; let i = $index) {
					@if (task().subtasks[i].editState != SubtaskEditState.DELETED) {
					<li class="subtask-item">
						<span [class.completed]="subtask.finished">{{ subtask.name }}</span>
					</li>
					}
					}
				</ul>
			</div>
		</div>
		}
		<div class="column-bottom-container">
			<app-contact-icon-list [contacts]="task().contacts"></app-contact-icon-list>
			<img src="assets/Icons/taskBoard/{{ task().priority | lowercase }}Task.png" alt="Priority Icon">
		</div>
	</div>
</div>