@use './../../../public/styles/all_styles.scss' as all;
.content {

    app-aside {
        grid-area: aside;
    }

    header {
        grid-area: header;
        height: 10dvh;
    }

    main {
        grid-area: main;
        width: 100%;
        height: 95%;

        @include all.tablet{
            height: 100%;
        }

        section {
            width: 100%;
            overflow: hidden;
        }
    }
}

.content-sign {
    @include all.fl($jc:center);
    width: 100dvw;
    height: 100dvh;
}