@use './../../../public/styles/all_styles.scss' as all;
.content {

    app-aside {
        grid-area: aside;
    }

    .smallHeader {
        grid-area: header;
        height: 10vh;
    }

    main {
        grid-area: main;
        width: 100%;
        max-width: 1240px;
        height: 100%;
    }
}

.content-sign-up {
    @include all.fl($jc:center);
    @include all.size($maxW: 1920px, $minH: 100dvh);
}