@if(currentSection == SectionType.LOGIN || currentSection == SectionType.SIGNUP) {
    <div class="content-sign">
        @if(currentSection == SectionType.LOGIN) {
            <section login (guestLogin)="setGuestLogin($event)" (user)="setUser($event)" (section)="changeSection($event)" (prevSection)="changePrevSection($event)"></section>
        } @else {
            <section sign-up (user)="setUser($event)" (section)="changeSection($event)" (prevSection)="changePrevSection($event)"></section>
        }
    </div>
} @else {
    <div class="content"> <!-- display: grid -->
        <aside app-aside [guestLogin]="guestLoginMain" [user]="currentUser" [currentSection]="currentSection" (selectedSection)="changeSection($event)"></aside>
        <header app-header [guestLogin]="guestLoginMain" [user]="currentUser" (userLogout)="setUser($event)"  (selectedSection)="changeSection($event)"></header>

        <main>
            @switch (currentSection) {

                @case (SectionType.TASK) {
                    <app-add-task-container></app-add-task-container>
                }

                @case (SectionType.SUMMARY) {
                    <section [user]="currentUser" summary (selectedSection)="changeSection($event)"></section>
                }

                @case (SectionType.BOARD) {
                    <section board></section>
                }

                @case (SectionType.CONTACT) {
                    <section contacts></section>
                }

                @case (SectionType.PRIVACY) {
                    <section privacy-policy (back)="changeSection(prevSection)"></section>
                }

                @case (SectionType.LEGAL) {
                    <section legal-notice (back)="changeSection(prevSection)"></section>
                }
            }
        </main>
    </div>
}