@if(currentSection == SectionType.SIGNUP) {
    <section sign-up (user)="setUser($event)" (section)="changeSection($event)"></section>
} @else {
    <div class="content"> <!-- display: grid -->
        <aside app-aside [currentSection]="currentSection" (selectedSection)="changeSection($event)"></aside>
        <header app-header [user]="currentUser" (selectedSection)="changeSection($event)"></header>

        <main>
            @switch (currentSection) {

                @case (SectionType.TASK) {
                    <app-add-task-container></app-add-task-container>
                }

                @case (SectionType.SUMMARY) {
                    <section [user]="currentUser" summary (selectedSection)="changeSection($event)"></section>
                }

                @case (SectionType.BOARD) {
                    <section board></section>
                }

                @case (SectionType.CONTACT) {
                    <section contacts></section>
                }

                @case (SectionType.PRIVACY) {
                    <section privacy-policy (back)="changeSection(SectionType.CONTACT)"></section>
                }

                @case (SectionType.LEGAL) {
                    <section legal-notice (back)="changeSection(SectionType.CONTACT)"></section>
                }
            }
        </main>
    </div>
}