@if (currentSection == SectionType.SIGNUP) {
    <div class="content-sign-up">
        <section sign-up></section>
    </div>
} @else {
    <div class="content"> <!-- bekommt style display: grid-->
        <!-- Hier wird die Header-Komponente aus Angular als normals HTML-Tage eingebunden -->
        <!-- app-heder ist dabei der Name der Kopoenente. Der Name muss sich von den normalen Tag untersccheiden. -->
        <aside app-aside (selectedSection)="changeSection($event)"></aside>
        <header app-header (selectedSection)="changeSection($event)"></header>
        <main>
            @switch (currentSection) {
                @case (SectionType.TASK) {
                    <app-add-task-container></app-add-task-container>
                }

                @case (SectionType.BOARD) {
                    <section board></section>
                }

                @case (SectionType.CONTACT) {
                    <section contacts></section>
                }

                @case (SectionType.PRIVACY) {
                    <section privacy-policy (back)="changeSection(SectionType.CONTACT)"></section>
                }

                @case (SectionType.LEGAL) {
                    <section legal-notice (back)="changeSection(SectionType.CONTACT)"></section>
                }
            }
        </main>
    </div>
}