@use './../../../public/styles/all_styles.scss' as all;
.content {

    app-aside {
        grid-area: aside;
    }

    .smallHeader {
        grid-area: header;
        height: 10vh;
    }

    main {
        grid-area: main;
        width: 100%;
        height: 95%;

        @include all.tablet{
            height: 100%;
        }

        section {
            width: 100%;
        }
    }
}

.content-sign-up {
    @include all.fl($jc:center);
    width: 100%;
    max-width: 1920px;
    min-height: 100dvh;
}