@use './../../../public/styles/all_styles.scss' as all;

app-aside {
        grid-column: 1;
        grid-row: 1;
		width: 10%;

    }

    .main {
        grid-column: 2;
        grid-row: 2;
        height: auto;
    }
@use './../../../public/styles/all_styles.scss' as all;
.content {

    app-aside {
        grid-area: aside;
    }

    .smallHeader {
        grid-area: header;
        height: 10vh;
    }

    main {
        grid-area: main;
    }
}