@use '../../../../../../public/styles/all_styles' as all;
@forward '../../../../../../public/styles/component-styles';

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.btn-set {
    font-size: 1.8rem;
}

.add-contact-modal-container {
    @include all.size($w: 85dvw, $h: 80dvh);
    @include all.fl($jc: center, $alit: center);
    background-color: white;
    border-radius: 16px;
    border: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);

    @include all.notebook {
        box-shadow: 8px 0 8px rgba(0, 0, 0, 0.2), -8px 0 8px rgba(0, 0, 0, 0.2);
    }

    @include all.tablet {
        @include all.size($w: 90dvw, $h: 80dvh);
        @include all.fl($flexdir: column, $jc: center, $alit: center);
    }

    .contact-modal-header {
        @include all.fl($flexdir: column, $jc: center);
        @include all.size($w: 40%, $h: 80dvh);
        @include all.marpad($pad: 0 2rem);
        background-color: #2a3647;
        border-radius: 16px 0 0 16px;

        @include all.tablet {
            @include all.size($w: 90dvw, $h: 40%);
            border-radius: 16px;
        }

        @include all.mobile {
            height: 30%;
            justify-content: flex-start;
            padding-top: 1.6rem;
        }

        .mobile-close-btn {
            display: none;

            button {
                color: white;
                border: none;
                background: transparent;
            }

            @include all.notebook {
                @include all.absolute($top: 0, $right: 3rem);
                @include all.fl($jc: end);

                button {
                    @include all.marpad($mar: 2rem 0 0);
                    font-size: 20px;
                }
            }

            @include all.smart {
                right: 2rem;
            }
        }

        img {
            margin-bottom: 2rem;

            @include all.tablet {
                display: none;
            }
        }

        h1 {
            color: white;
            font-size: clamp(28px, 4vw, 48px);
            font-family: 'Inter', sans-serif;
            margin-bottom: 0.5rem;
            line-height: 1.2;

            @include all.tablet {
                font-size: 36px;
            }
        }

        h2 {
            width: 100%;
            color: white;
            font-size: clamp(16px, 2vw, 24px);
            margin-bottom: 1rem;
        }

        hr {
            background: rgb(17, 148, 213);
            border: none
        }

    }
}

main {
    @include all.fl($jc: center, $alit: center);
    @include all.size($w: 60%, $h: 100%);
    padding: 0 3.2rem;

    @include all.tablet {
        width: 90dvw;
        height: 60%;
    }

    @include all.mobile {
        align-items: flex-start;
        height: 70%;
        padding: 7rem 1.6rem 0 1.6rem;
        ;
    }

    .icon-area-mobile {
        display: none;

        @include all.mobile {
            display: flex;
            @include all.size($w: 12rem, $h: 12rem);
            position: absolute;
            top: -6rem;
            left: calc((90dvw / 2) - 6rem);
            font-size: 7rem;
        }
    }

    form {
        width: 100%;
    }

    .form-button-container {
        @include all.fl($jc: flex-end, $gap: 1.6rem, $alit: center);
        margin: 1.6rem 3.2rem 0 0;

        input {
            padding: 1rem 1.6rem;
        }

        @include all.mobile {
            width: 80dvw;
            justify-content: space-between;
            position: absolute;
            bottom: -6.4rem;

            input {
                padding: 0.5rem;
                font-size: 1.6rem;
            }
        }

    }
}

.form-main-container {
    @include all.fl($gap: 1.6rem);
    width: 100%;

    @include all.mobile {
        height: 32dvh;
        overflow-y: auto;
        @include all.scrollbar();
    }

    .icon-area {
        @include all.fl($jc: center, $alit: center);
        @include all.size($w: 40%, $h: 30dvh);

        @include all.mobile {
            display: none;
        }

        img,
        app-contact-icon {
            width: 12rem;
            height: 12rem;
            font-size: 6rem;
        }
    }

    .input-area {
        @include all.fl($flexdir: column);
        width: 60%;

        @include all.mobile {
            width: 100%;
            margin-top: 0.5rem;
        }

        .form-field {
            @include all.fl($flexdir: column, $jc: center);
            width: 100%;

            input {
                width: 27dvw;
                padding: 1rem 4.8rem 1rem 1.6rem;
                font-size: 1.6rem;
                border: 1px solid #d1d1d1;
                border-radius: 1rem;

                @include all.tablet {
                    width: 100%;
                }

                @include all.mobile {
                    width: 78dvw;
                }
            }

            img {
                width: 1.6rem;
                height: 1.6rem;
                position: absolute;
                right: 1.6rem;
                top: 1rem;
            }

            .errmsg {
                height: 1.6rem;
                color: #800000;
                @include all.marpad ($pad: 0 1.6rem, $mar: 0.5rem 0);
                text-align: center;
            }
        }
    }
}

.close {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 3.2rem;
    background: transparent;

    @include all.tablet {
        color: white;
    }

    @include all.mobile {
        top: 1.6rem;
        right: 1.6rem;
        width: 1.6rem;
        height: 1.6rem;
        font-size: 1.6rem;
    }

    &:hover {
        color: #29ABE2;
    }
}