@use './../../../../public/styles/all_styles.scss' as all;
  
:host {
    @include all.size($w: 100%, $h: 100%);
    @include all.fl($jc: center, $alit: center);
    
    #add-task-content{
        @include all.size($w: 100%, $h: 100%);
    }
}