@use './../../../../public/styles/all_styles.scss' as all;

:host {
	@include all.size($h: 5rem);
	@include all.fl($alit: center, $gap: 1rem);
	@include all.marpad($mar: 1rem 0, $pad: 1rem 0 0 4rem);
	cursor: pointer;
	color: white;
	background: transparent;
	font-size: 1.8rem;

	@include all.tablet {
		@include all.size($h: 5rem);
		@include all.fl($flexdir: column, $gap: 1rem);
		@include all.marpad($mar: 0, $pad: 0);
		border-radius: 10px;
	}

	@include all.smart {
		font-size: 1.4rem;
	}

	&:hover {
		background: #2f3f57;
	}

	img {
		display: flex;
		@include all.size($w: 2.8rem, $h: 2.8rem);
		margin-bottom: 1rem;

		@include all.smart {
		@include all.size($w: 2.4rem, $h: 2.4rem);
	}
	}
}