
<section class="add-task-section">

    <form id="add-task-form" method="post" (submit)="submitForm($event)">
        
        <header class="add-task-header">
            <h1 id="add-task-headline">Add Task</h1>
        </header>
        
        <main class="add-task-main-container">

            <div class="add-task-info-block1">

                <label for="title">Title</label>
                <input type="text" name="title" id="add-task-info-title" 
                    placeholder="Enter a title" required>

                <label for="descr">Description</label>
                <textarea name="descr" id="add-task-info-description"></textarea>
                <!-- <input type="range" name="descr" id="add-task-info-descr"
                    placeholder="Enter a Description"> -->

                <label for="due-date">Due Date</label>
                <input type="text" name="due-date" id="add-task-info-due-date"
                    placeholder="dd/mm/yyyy" required>
            </div>

            <hr>

            <div class="add-task-info-block2">
                <div class="add-task-priority-container">
                    <label for="add-task-priority">Priority</label>
                    <div class="add-task-priority-btn-container">
                        <button type="button" class="priority-btn" (click)="setPriority(Priority.URGENT)" [ngClass]="{ 'active urgent': currentTask.priority == Priority.URGENT}">
                            <span>Urgent</span>
                            @if(currentTask.priority == Priority.URGENT){
                                <img src="assets/Icons/taskBoard/prio_urgent_white.png" alt="">
                            }
                            @else {
                                <img src="assets/Icons/taskBoard/prio_urgent_red.png" alt="">
                            }
                        </button>
                        <button type="button" class="priority-btn" (click)="setPriority(Priority.MEDIUM)" [ngClass]="{ 'active medium': currentTask.priority == Priority.MEDIUM}">
                            
                            <span>Medium</span>
                            @if(currentTask.priority == Priority.MEDIUM){
                                <img src="assets/Icons/taskBoard/prio_medium_white.png" alt="">
                            }
                            @else {
                                <img src="assets/Icons/taskBoard/prio_medium_orange.png" alt="">
                            }
                        </button>
                        <button type="button" class="priority-btn" (click)="setPriority(Priority.LOW)" [ngClass]="{ 'active low': currentTask.priority == Priority.LOW}">
                            
                            <span>Low</span>
                            @if(currentTask.priority == Priority.LOW){
                                <img src="assets/Icons/taskBoard/prio_low_white.png" alt="">
                            }
                            @else {
                                <img src="assets/Icons/taskBoard/prio_low_green.png" alt="">
                            }
                        </button>
                    </div>
                </div>
            </div>

        </main>
        
        <footer class="add-task-footer">
            <span class="required-info-txt">* this field is required</span>
            <div class="add-task-btn-container">
                <input class="btn-default" type="button" (click)="clear()" value="Clear">
                <input class="btn-set" type="submit" value="Create Task ">
            </div>
        </footer>
        
    </form>
</section>