@use '../../../../../public/styles/all_styles' as all;
@forward '../../../../../public/styles/component-styles';

.add-task-section {
    @include all.size();
    @include all.marpad($pad: 3dvw);
    border: 2px solid red;
    background: #ededed;


    #add-task-form {

        .add-task-header {
            h1 {
                font-size: 42px;
            }
        }

        .add-task-main-container {

            .add-task-info-block1 {

            }

            hr {
                @include all.borRad();
            }
            
            .add-task-info-block2 {
                
                .add-task-priority-container {
                    @include all.size($w: 50rem, $h: 5rem);
                }
            }
        }

        add-task-footer {
            
        }

    }
}