@use '../../../../../public/styles/all_styles' as all;
@forward '../../../../../public/styles/component-styles';

input,
select,
textarea,
app-date-picker,
app-subtask {
    width: 100%;
}

b {
    color: red;
}

input[type=text], textarea {
    font: 1.6rem 'Inter', sans-serif;
}

h1 {
    font: 5rem 'InterBold', sans-serif; 
}

.input-wrapper {
    width: 100%;
    @include all.fl($flexdir: column, $gap: 0.5rem);
}

.add-task-input-lbl {
    font-size: 18px;
    padding-bottom: 0.5rem;
}

.add-task-input {
    @include all.borRad($c: rgba(0, 0, 0, 0.2), $radius: 8px);
    @include all.marpad($pad: 1rem);
    font-size: 16px;
    cursor: text;

    &:focus-visible {
        border-inline: none;
        border: 1px solid #29ABE2;
        outline: none;
    }
}

.add-task-section {
    height: 82dvh;
    @include all.marpad($pad: 3dvw);

    @media(max-width: 1920px) {
        border: 2px solid red;
    }

    @include all.notebook {
        height: 80dvh;
        @include all.scrollbar();
    }

    #add-task-form {
        @include all.size($w: 100%, $h: 100%);
        @include all.fl($flexdir: column, $jc: space-between, $alit: space-between);

        .add-task-header {
            height: 10dvh;
            @include all.fl($alit: center);
            margin-bottom: 2rem;

            h1 {
                font-family: 'Interbold', sans-serif;
                font-size: 5rem;
            }
        }

    }
}

.add-task-main-container {
    @include all.size($w: 100%, $h: 58dvh);
    @include all.fl($jc: space-between, $alit: start, $gap: 1rem);

    @media screen and (min-width: 1900px) {
            height: 35dvh;
		}

    @include all.notebook {
        @include all.fl($flexdir: column, $alit: center);
        @include all.scrollbar();
        height: 50dvh;
        overflow-y: auto;
        @include all.marpad($mar: 2rem 0, $pad: 4rem 0 0 0);
    }

    .add-task-info-block1 {
        width: 50%;
        @include all.fl($flexdir: column, $gap: 2rem);

        @include all.notebook {
            width: 90%;
        }

        #add-task-info-description {
            @include all.scrollbar();
            font-family: 'Inter', sans-serif;
            height: 14dvh;
            overflow-y: auto;
            resize: none;
        }
    }

    hr {
        width: 0.2rem;
        height: 75%;
        margin: 0 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);

        @include all.notebook {
            display: none;
        }
    }

    .add-task-info-block2 {
        width: 50%;
        @include all.fl($flexdir: column, $gap: 1rem);

        @include all.notebook {
            width: 90%;
            margin: 2rem 0 3rem 0;
        }

        .add-task-assigned-to-container {
            @include all.marpad($mar: 0 2rem 0 0);

            .add-task-assign-to-option {
                @include all.limiter();
                outline: 1px solid #29ABE2;
            }
        }

        .add-task-category {
            @include all.borRad($radius: 8px);
            @include all.marpad($pad: 1rem, $mar: 0 1rem 0 0);

            &:focus-visible {
                outline: 1px solid #29ABE2;
            }
        }

        .add-task-subtask-container {
            display: flex;
            height: 20rem;
            app-subtask {
                height: 19dvh;
            }
        }
    }
}

.add-task-footer {
    margin-top: 3rem;
    @include all.fl($jc: space-between, $alit: end);

    .required-info-txt {
        font-size: 1.6rem;
    }

    @include all.tablet {
        @include all.fl($flexdir: column, $gap: 1rem);
    }

    .add-task-btn-container {
        @include all.fl($jc: end, $gap: 2rem);

        @include all.tablet {
            width: 100%;
        }

        .btn-default,
        .btn-set {
            padding: 1rem;
        }
    }
}

.error {
    color: #d32f2f;
    height: 1.7rem;
    font-size: 1.6rem;
    margin: 0.5rem 0;
}

#due-date {
    margin-top: 2rem;
}