
<section class="add-task-section">

    <form id="add-task-form" method="post" (submit)="submitForm($event)">
        
        <header class="add-task-header">
            <h1 id="add-task-headline">Add Task</h1>
        </header>
        
        <main class="add-task-main-container">

            <div class="add-task-info-block1">

                <div class="input-wrapper">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="add-task-info-title" 
                        placeholder="Enter a title" [(ngModel)]="currentTask.title" required>
                </div>

                <div class="input-wrapper">
                    <label for="descr">Description</label>
                    <textarea name="descr" id="add-task-info-description" 
                        placeholder="Enter a Description ..." [(ngModel)]="currentTask.description"></textarea>
                </div>

                <div class="input-wrapper">
                    <label for="due-date">Due Date</label>
                    <input type="text" name="due-date" id="add-task-info-due-date"
                    placeholder="dd/mm/yyyy" [(ngModel)]="currentTask.dueDate" required>
                </div>
            </div>

            <hr>

            <div class="add-task-info-block2">
                <div class="input-wrapper add-task-priority-container">
                    <label for="add-task-priority">Priority</label>
                    <app-priority-buttons [task]="currentTask" ></app-priority-buttons>
                </div>
                <div class="input-wrapper add-task-assigned-to-container">
                    <label for="add-task-assigned-to">Assigned to</label>
                    <input type="text" name="add-task-assigned-to" id="add-task-assigned-to"
                        [(ngModel)]="currentTask.assignedTo">
                </div>
                <div class="input-wrapper add-task-category-container">
                    <label for="add-task-category">Category</label>
                    <select name="add-task-category" id="add-task-category" 
                        class="add-task-category" [(ngModel)]="currentTask.category">
                        @for(category of ( Category | keyvalue ); track $index){
                            <option id="('add-task-category_' + $index)" class="add-task-category-option" [value]="category.value">{{ category.value }}</option>
                        }
                    </select>
                </div>
                <div class="input-wrapper add-task-subtask-container">
                    <label for="add-task-subtask">Subtasks</label>
                    <input type="text" name="add-task-subtask" id="add-task-subtask"
                        [(ngModel)]="currentTask.subtasks">
                </div>
            </div>

        </main>
        
        <footer class="add-task-footer">
            <span class="required-info-txt">* this field is required</span>
            <div class="add-task-btn-container">
                <input class="btn-default" type="button" (click)="clear()" value="Clear">
                <input class="btn-set" type="submit" value="Create Task ">
            </div>
        </footer>
        
    </form>
</section>