@mixin slightInFromRightAnimation() {
	animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin slightOutToRightAnimation() {
	animation: slideOutToRight 0.4s ease-in forwards;
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100vw);
    opacity: 0;
  }
}