@use './all_styles' as all;

.btn-set {
    width: 90%;
    @include all.marpad ($mar: 0 0, $pad: 1rem);
    @include all.fl($jc: center, $alit: center, $gap: 1rem);
    color: white;
    font-size: 2rem;
    background-color: #2a3647;
    border-radius: 8px;
    border: 2px solid #4a5f7c;
    &:hover {
        background: #29ABE2;
    }

    @include all.notebook {
        width: 93%;
    }

    @include all.tablet {
        @include all.size($w: 6.2rem, $minW: 6.2rem, $h: 6.2rem, $minH: 6.2rem);
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 2rem;

        span {
            display: none;
        }
    }

    @media(max-width: 376px) {
        right: 0;
        bottom: 0.5rem;
        }
}