@font-face {
    font-family: Inter;
    src: url(../assets/Fonts/Inter_18pt-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Interbold;
    font-weight: bold;
    src: url(../assets/Fonts/Inter_28pt-Bold.ttf) format("truetype");
}