@use "sass:string";
// @forward '../styles/fonts';

@mixin marpad($pad: 0, $mar: 0) {
	padding: $pad;
	margin: $mar;
}

@mixin fl($display: flex, $jc: flex-start, $alit: flex-start, $flexdir: row, $gap: 0, $rgap: 0, $cgap: 0, ) {
	display: $display;
	justify-content: $jc;
	align-items: $alit;
	flex-direction: $flexdir;
	row-gap: $rgap;
	column-gap: $cgap;
	gap: $gap;
}

@mixin size($w: auto, $h: auto) {
	width: $w;
	height: $h;
}

@mixin absolute($pos: absolute, $top: auto, $left: auto, $bottom: auto, $right: auto) {
	position: $pos;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}

@mixin borRad($c: white, $radius: 1.6rem, $thick: 1px, $design: solid) {
    border: $thick $design $c;
    border-radius: $radius;
}

@mixin boxSh($right: 2px, $bottom: 4px, $blur: 2px, $all: 0px, $c: white) {
    // right , bottom, spread, thick around 
    box-shadow: $right $bottom $blur $all $c ;
}

@mixin limiter() {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	word-wrap: break-word;
	overflow: hidden; 
	text-overflow: ellipsis;
}

@mixin font-style($size: 1.6rem, $family: string.unquote("Inter, sans-serif"), $weight: none) {
	font-size: $size;
	font-family: $family;
	font-weight: $weight;
}

@mixin scrollbar() {
	scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}