@mixin marpad($pad, $mar) {
	padding: $pad;
	margin: $mar;
}

@mixin fl($jc: center, $alit: center, $flexdir: row, $gap: 0, $rgap: 0, $cgap: 0, ) {
	display: flex;
	justify-content: $jc;
	align-items: $alit;
	flex-direction: $flexdir;
}