@mixin marpad($pad: 0, $mar: 0) {
	padding: $pad;
	margin: $mar;
}

@mixin fl($jc: start, $alit: start, $flexdir: row, $gap: 0, $rgap: 0, $cgap: 0, ) {
	display: flex;
	justify-content: $jc;
	align-items: $alit;
	flex-direction: $flexdir;
	row-gap: $rgap;
	column-gap: $cgap;
	gap: $gap;
}