@use './../../../../../public/styles/all_styles.scss' as all;

:host {
    @include all.fl($jc: center, $alit: center);
    @include all.size($w: 100%, $h: 100%);
    border-radius: 50%;
    color: white;
    padding: 0.5rem;
    font-size: 1.6rem;
}

:host(.orange) {
    background: #ff7a00;
}

:host(.purple) {
    background: #9227ff;
}

:host(.blue) {
    background: #6e52ff;
}

:host(.pink) {
    background: #fc71ff;
}

:host(.yellow) {
    background: #ffbb2b;
}

:host(.green) {
    background: #1fd7c1;
}

:host(.red) {
    background: #e6194b;
}

:host(.cyan) {
    background: #46f0f0;
}

:host(.lime) {
    background: #bfef45;
}

:host(.brown) {
    background: #9a6324;
}

:host(.teal) {
    background: #4363d8;
}

:host(.maroon) {
    background: #800000;
}

:host(.navy) {
    background: #000075;
}

:host(.olive) {
    background: #808000;
}

:host(.crimson) {
    background: #dc143c;
}

:host(.gold) {
    background: #ffd700;
}

:host(.silver) {
    background: #c0c0c0;
}

:host(.indigo) {
    background: #4b0082;
}

:host(.slate) {
    background: #708090;
}

:host(.coral) {
    background: #ff7f50;
}