@use "./../../../../../public/styles/all_styles.scss" as all;

:host {
    @include all.size();

    // #region detail-header
    .contact-detail-header {
        @include all.fl($jc: space-between, $alit: center);
        @include all.size($h: 8rem);

        @include all.notebook {
            @include all.fl($jc: space-between, $alit: start);
            @include all.size($w: 30dvw, $h: 12rem);
        }

        .header-info {
            @include all.fl($alit: center, $gap: 2rem);

            @media (max-width: 1200px) {
                @include all.fl($flexdir: column, $gap: 1rem);
            }

            h1 {
                @include all.font-style($size: 6rem, $weight: bold);

                @include all.mobile {
                    @include all.font-style($size: 5rem, $weight: bold);
                }
            }

            h2 {
                @include all.size($h: auto);
                @include all.font-style($size: 2.5rem);
                letter-spacing: 2px;

                @media(max-width: 425px) {
                    @include all.font-style($size: 1.8rem);
                }
            }

            hr {
                background: rgb(17, 148, 213);
            }

            #middle-line {
                display: block;
                @include all.size($w: 1rem, $h: 6rem);

                @media (max-width: 1200px) {
                    display: none;
                }
            }

            #bottom-line {
                display: none;
                @include all.size($w: 12rem, $h: 0.6rem);

                @media (max-width: 1200px) {
                    display: flex;
                }
            }
        }

        .contact-detail-back {
            display: none;

            @include all.notebook {
                @include all.marpad($mar: 0 2rem);
                display: block;
            }
        }
    }

    // #endregion

    // #region contact-info
    .contact-info-container {
        @include all.slightInFromRightAnimation();
        @include all.size($w: 80%, $h: 75%);
        @include all.marpad($mar: 3rem 0 0);

        .contact-detail-header-row {
            @include all.fl($alit: center);
            @include all.size($h: auto);

            .contact-icon {
                @include all.size($w: 12rem, $minW: 12rem, $h: 12rem, $minH: 12rem);
                @include all.font-style();

                @media(max-width: 450px) {
                    @include all.size($w: 8rem, $minW: 8rem, $h: 8rem, $minH: 8rem);
                }
            }

            .name-option-container {
                @include all.size($h: auto);
                @include all.marpad($pad: 0 0 0 3rem);
                @include all.fl($flexdir: column);

                @include all.notebook {
                    @include all.size($w: 45dvw, $maxW: 50rem, $h: auto);
                }

                @include all.mobile {
                    @include all.marpad($pad: 0 0 0 2rem);
                }

                @include all.smart {
                    @include all.marpad($pad: 0 0 0 1rem);
                }

                .name {
                    @include all.limiter();
                    @include all.size($h: 4rem);
                    @include all.font-style($size: 3.2rem, $weight: bold);

                    @include all.smart {
                        @include all.size($h: 3dvh);
                        @include all.font-style($size: 2.2rem);
                    }
                }

                .option-container {
                    @include all.size($h: 2.8rem);
                    @include all.fl($jc: start, $alit: center, $gap: 2rem);

                    @include all.tablet {
                        display: none;
                    }

                    button {
                        @include all.fl($alit: center, $gap: 0.7rem);

                        .delete-btn {
                            @include all.size($w: 20px, $h: 20px);
                        }

                        img {
                            @include all.size($w: 16px, $h: 16px);
                        }

                        &:hover {
                            color: rgb(31, 135, 246);
                        }
                    }
                }
            }
        }

        h2 {
            @include all.marpad($mar: 3rem 0);
            @include all.font-style($size: 2.4rem);
        }

        .emailPhone {

            h3 {
                @include all.marpad($mar: 1.5rem 0);
                @include all.font-style($size: 2rem);
            }

            a {
                @include all.font-style($size: 2rem);
                color: #007bed;
            }

            .tel-ref {
                color: black;
            }
        }
    }

    // #endregion


    .mobile-options-container {
        @include all.absolute($bottom: 0, $right: 1rem);
        @include all.size($w: 5rem, $h: 5rem);
        display: none;
        z-index: 1;

        @include all.tablet {
            display: flex;
        }

        .option-btns {
            @include all.size($w: 40px, $h: 40px);
            @include all.fl($flexdir: column, $alit: center, $jc: center);
            background-color: #2c3e50;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 20;
        }

        .dot {
            @include all.size($w: 4px, $h: 4px);
            @include all.marpad($mar: 0.2rem 0);
            background-color: white;
            border-radius: 50%;
        }
    }

    .popup-menu {
        @include all.absolute($bottom: 5rem, $right: 5rem);
        @include all.marpad($pad: 0.4rem 0);
        @include all.size($w: 11rem, $h: 8rem);
        background-color: white;
        border-radius: 8px 8px 0 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

        .menuItem {
            @include all.fl($alit: center);
            @include all.marpad($pad: 0.8rem 1.6rem);
            @include all.font-style($size: 1.6rem);
            cursor: pointer;
            color: #333;

            &:hover {
                background-color: #f4f4f4;
            }

            img {
                @include all.size($w: 18px, $h: 18px);
                @include all.marpad($pad: 0 0.1rem 0 0);
            }
        }
    }
}