<div class="contact-detail-header">
    <div class="header-info">
        <h1>Contacts</h1>
        <hr id="middle-line" />
        <h2>Better with a team</h2>
        <hr id="bottom-line" />
    </div>
    <button class="contact-detail-back" (click)="cs.setDetailVisibility('d_none')"><img src="assets/Icons/arrow-left-line.png" alt=""></button>
</div>

@if (currentContact$ | async; as contact ) {

<div class="contact-info-container">
    <div class="contact-detail-header-row">
        <app-contact-icon class="contact-icon {{ contact.iconColor }}" [contact]="contact"></app-contact-icon>

        <div class="name-option-container">
            <span class="truncate">{{ limit(contact.firstname, 15) }}</span>
            <span class="truncate">{{ limit(contact.lastname, 15) }}</span>

            <div class="option-container">
                <button (click)="cs.openModal('edit')" type="button">
                    <img src="assets/Icons/digitaler-controller.png" alt="" />Edit
                </button>
                <button (click)="cs.deleteContactInDB(contact)">
                    <img class="delete-btn" src="assets/Icons/—Pngtree—vector trash icon_4152654.png" alt="" />Delete
                </button>
            </div>
        </div>
    </div>

    <h2>Contact Information</h2>

    <div class="emailPhone">
        <h3>Email</h3>
        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
        <h3>Phone</h3>
        <a class="tel-ref" href="tel:+49{{ contact.tel }}">{{ contact.tel }}</a>
    </div>
</div>
<div class="mobile-options-container" id="mobileMenu">
    <button class="option-btns" (click)="toggleMenu()">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </button>
</div>
<div class="popup-menu" *ngIf="isMenuVisible">
    <div class="menuItem" (click)="cs.openModal('edit')">
        <img src="assets/Icons/digitaler-controller.png" alt="Edit Icon" />
        <span>Edit</span>
    </div>
    <div class="menuItem deleteItem" (click)="cs.deleteContactInDB(contact)">
        <img src="assets/Icons/—Pngtree—vector trash icon_4152654.png" alt="Delete Icon" />
        <span>Delete</span>
    </div>
</div>
}