<div class="contactInfo">
	<div class="align">
	<div class="iconName">
		<h1>Contacts</h1>
		<hr>
		<h2>Better with a team</h2>
	</div>

	<div class="contactDetail">
		<div class="contactIcon">
			<app-contact-icon class="{{ contact.iconColor }}" [contact]="contact"></app-contact-icon>
		</div>

		<div class="editDelete">
			<p class="name">{{ contact.firstName }} {{ contact.lastName }}</p>

			<div class="iconMain">
				<button (click)="toggleEditContactModal()" type="button"><img src="assets/Icons/help.png" alt="" />Edit</button>
				<button><img src="assets/Icons/help.png" alt="" />Delete</button>
			</div>
		</div>

		<div class="lastInfo">
			<h2>Contact Information</h2>

		<div class="emailPhone">
			<h3>Email</h3>
			{{ contact.email }}
			<h3>Phone</h3>
			{{ contact.tel }}
		</div>
	</div>
	</div>
</div>

<aside id="addContactModal" class="addContactModalContainer" [style.visibility]="addContactModalVisiblity">

	<div class="leftSide">
		<img src="assets/Icons/JoinLogoWhite.png" alt="" />
		<h1>Edit Contact</h1>
    </div>

    <div class="rightSide">
		<div class="lineCloseBtn">
			<button type="button" (click)="toggleEditContactModal()">x</button>
		</div>

		<div class="lineForm">
			<app-contact-icon class="{{ contact.iconColor }}" [contact]="contact"></app-contact-icon>

			<form action="submit" method="post">
				<input type="text" name="" id="" />
				<input type="email" name="" id="" />
				<input type="tel" name="" id="" />

			<div class="formBtnContainer">
				<button type="button" (click)="toggleEditContactModal()">Delete</button>
				<button type="submit" (submit)="deleteContact()">Save ✓</button>
			</div>
			</form>
		</div>
    </div>
</aside>
</div>
