@use "../../../../../public//styles/all_styles" as all;

:host {
    @include all.fl($flexdir: column);
    @include all.size();
    @include all.marpad($pad: 0 2rem);

    @media (max-width: 1180px) {
        @include all.marpad($mar: 0.5rem);
        @include all.size();
    }

    @include all.notebook {
        @include all.size($maxW: 75dvw);
    }

    @include all.tablet {
        @include all.size();
    }

// #region header
    header {
        @include all.size($h: 5rem);
        @include all.fl($alit: center, $jc: space-between);
        @include all.marpad($pad: 0 1rem);

        @media (max-width: 1280px) {
            @include all.size($h: 5rem, $maxW: 75dvw);
            padding: 0 2rem;
        }

        h3 {
            font-size: 2.4rem;
        }

        .add-icon-btn {
            &:hover {
                content: url(../../../../../public/assets/Icons/taskBoard/addBtnBoardHover.png);
            }

            &:active {
                content: url(../../../../../public/assets/Icons/taskBoard/addBtnBoardClick.png);
            }
        }
    }
//#endregion

//#region no-task
    .no-task {
        @include all.fl($jc: center, $alit: center);
        @include all.size($h: 4.8rem);
        background: #e7e7e7;
        border-radius: 1rem;
        border: 1px dotted #a8a8a8;
        font: 1.6rem OpenSans;
        color: #a8a8a8;
    }
//#endregion

// #region main
    main {
        @include all.size($h: 70dvh);
        @include all.fl($alit: center, $flexdir: column);
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.2) transparent;

        @media (max-width: 1280px) {
            @include all.fl($flexdir: row);
            @include all.size($w: 75dvw, $h: auto);
            overflow-x: auto;

        @include all.tablet {
            @include all.size($h: auto);
        }

            >* {
                flex: 0 0 auto;
                width: 28rem;
            }
        }
    }
}
// #endregion