@use '../../../../../public/styles/all_styles' as all;
@forward '../../../../../public/styles/component-styles';

:host {
    @include all.size($w: 100%, $h: 90dvh);
    background: white;
    // padding: 0 3rem;
    box-shadow: 5px 0 10px -5px grey;

    #add-contact-button {
        @include all.marpad ($mar: 0 3rem 0 0, $pad: 1rem 0);
    }

    .contact-groups-container {
        overflow-y: auto;
        @include all.size($w: 100%, $h: 100%);


        .contact-group-container {
            @include all.fl($flexdir: column);
            @include all.size($w: 100%, $h: auto);

            .letter {
                vertical-align: center;
                @include all.marpad($mar: 2rem 0, $pad: 0 3rem);
                cursor: default;
            }

            hr {
                width: 95%;
                margin: 1rem 0;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }

            .single-contact-container {
                @include all.fl($alit: center, $jc: center, $gap: 25px);
                @include all.size($w: 95%, $h: 78px);
                @include all.marpad($pad: 0 1.75rem);
                border-radius: 10px;
                cursor: pointer;

                &:hover {
                    background: rgba(219, 220, 220, 0.7);
                }

                .icon-wrapper {
                    @include all.fl($jc: center, $alit: center);
                    @include all.size($w: 42px, $h: 42px);
                }

                .contact-data {
                    @include all.fl($flexdir: column, $jc: center);
                    @include all.size($w: 250px, $h: 48px);

                    .name {
                        margin-bottom: 5px;
                        font-size: clamp(16px, 1.5dvw, 64px);
                        font-family: 'InterBoldReg', sans-serif;
                    }

                    .email {
                        color: #007bed;
                        font-size: clamp(16px, 1.2dvw, 64px);
                    }
                }
            }

            .active {
                background: #2a3647;
                color: white;
                cursor: default;

                &:hover {
                    background: #2a3647;
                }
            }

        }

        ::-webkit-scrollbar {
            width: 5px;
            scroll-behavior: smooth;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            border: 1px solid transparent;
            background: #a8a8a8;
            background-clip: content-box;
        }

        ::-webkit-scrollbar-button:single-button:vertical:decrement {
            background: url('../../../../../public/assets/Icons/contact/scroll-up.png') no-repeat center center / contain;
        }

        ::-webkit-scrollbar-button:single-button:vertical:increment {
            background: url('../../../../../public/assets/Icons/contact/scroll-down.png') no-repeat center center / contain;
        }
    }
}