@use '../../../../../public/styles/all_styles' as all;
#section-contact-list {
    @include all.big($wid: 41rem, $hgt: 59rem);
    overflow-y: auto;
    background: white;
    padding: 0 10px;

    @include all.bigscreen {
        @include all.big($wid: 28dvw, $hgt: 76dvh);
    }

    @include all.notebook {
        @include all.big($wid: 38dvw, $hgt: 76dvh);
    }

    @include all.tablet {
        @include all.big($wid: 60dvw, $hgt: 64dvh);
    }
    @include all.mobile {
        @include all.marpad($pad: 0 4px);
        @include all.big($wid: 78dvw, $hgt: 68dvh);
        margin-top: 2rem;
    }

    @include all.smart {
        width: 80dvw;
    }

    .contact-group-container {
        @include all.fl($flexdir: column);
        @include all.big($wid: 100%, $hgt: auto);
        max-height: 100%;
        border-radius: 10px;

        .letter {
            @include all.fl($alit: center);
            height: 58px;
            padding-left: 36px;
            font-size: 2rem;
            cursor: default;
            @include all.mobile {
                padding: 0;
            }
        }

        hr {
            width: 100%;
            margin: 8px 0;
            border: 1px solid rgba(0,0,0,0.1);
        }

        .single-contact-container {
            @include all.fl($alit: center, $gap: 25px);
            @include all.big($wid: 90%, $hgt: 78px);
            padding-left: 5px;
            border-radius: 10px;
            cursor: pointer;

            @include all.mobile {
                padding: 0;
            }

            .icon-wrapper {
                @include all.fl($jc:center, $alit:center);
                @include all.big($wid: 42px, $hgt: 42px);
            }

            .contact-data {
                @include all.fl($flexdir: column, $jc: center);
                @include all.big($wid: 250px, $hgt: 48px);

                .name {
                    margin-bottom: 5px;
                    font-size: 24px;
                }

                .email {
                    color: #007cee;
                    font-size: 18px;
                }
            }
            &:hover {
                background: rgba(225, 255, 255, 0.2);
            }
        }

        .active{
            background: #2a3647;
            color: white;
            cursor: default;
            &:hover {
                background: #2a3647;
            }
        }
        
        .letter {
            @include all.fl($alit: center);
            height: 58px;
            padding-left: 36px;
            font-size: 2rem;
            cursor: default;
            @include all.mobile {
                padding: 0;
            }
        }

        hr {
            width: 100%;
            margin: 8px 0;
            border: 1px solid rgba(0,0,0,0.1);
        }

        ::-webkit-scrollbar {
            width: 10px;
            scroll-behavior: smooth;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            border: 1px solid transparent;
            background: #a8a8a8;
            background-clip: content-box;
        }

        ::-webkit-scrollbar-button:single-button:vertical:decrement {
            background: url('../../../../../public/assets/Icons/contact/scroll-up.png') no-repeat center center / contain;
        }

        ::-webkit-scrollbar-button:single-button:vertical:increment {
            background: url('../../../../../public/assets/Icons/contact/scroll-down.png') no-repeat center center / contain;
        }
    }
}