<button id="add-contact-button" class="btn-set" (click)="cs.openModal('add')" type="button">
    <span>Add new contact</span>
    <img src="assets/Icons/person_add.png" alt="">
</button>

<div class="contact-groups-container">
    @for (group of groups$ | async ; track group.name || $index) {
    <div id="{{ 'contact-group_' + group.name + '_' + $index}}" class="contact-group-container">
        <h3 class="letter">{{ group.name }}</h3>
        <hr>
        @for (contact of group.members| async ; track contact.id || $index) {
        <div id="{{ 'contact_' + contact.group + '_' + contact.id + '_' + $index}}" class="single-contact-container"
            [ngClass]="{'active': contact.selectedInContactList }" (click)="select(contact)">
            <div class="icon-wrapper">
                <app-contact-icon id="{{ 'contact_icon_' + contact.id}}" class="{{ contact.iconColor }}"
                    [contact]="contact"></app-contact-icon>
            </div>
            <div class="contact-data">
                <p class="name limiter">{{ fullName(contact) }}</p>
                <p class="email limiter">{{ contact.email }}</p>
            </div>
        </div>
        }
    </div>
    }
</div>