@use './../public/styles/all_styles.scss' as all;

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

html {
    font-size: 10px; // für Verwendung von rem, 1rem = 10px
}

body {
    background: rgb(211, 211, 211, 0.4);
    max-width: 1920px;
    overflow: hidden;
}

button,
input {
    border: unset; // Vorgabe in Checkliste
}

button {
    cursor: pointer; // Vorgabe in Checklist
    background: transparent;
}

.content {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 10dvh 90dvh;
    grid-template-areas: "aside header" "aside main";
    height: 100dvh;

    @include all.tablet {
        grid-template-columns: 1fr;
        grid-template-rows: 10dvh 80dvh 10dvh;
        grid-template-areas:
            "header"
            "main"
            "aside";
    }
}

.d_none {
    display: none;
}

@include all.tablet {
    .mob_none {
        display: none;
    }
}

@include all.mobile {
    .smart_none {
        display: none;
    }
}

.d_flex {
    display: flex;
    z-index: 1000;
}

h1 {
    font: bold 6.4rem Inter;

    @media(max-width: 425px) {
        font-size: 4.7rem;
    }
}


h2, a, p, h3, span {
    font-family: 'InterLight', sans-serif;
}

.overlay {
    justify-content: center;

    .content {
        display: flex;
        justify-content: center;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
