// TODO: Font Roboto muss hier noch eingebunden und herunter geladen werden.

*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    font-size: 10px; // f端r Verwendung von rem, 1rem = 10px
}

body {
	background: rgb(211, 211, 211, 0.4);
    font-family: 'Roboto', sans-serif;
}

button, input {
    border: unset; // Vorgabe in Checkliste
}

button {
    cursor: pointer; // Vorgabe in Checklist
}

.content {
        // Diese Eigenshaften gelten f端r alle Elemente, 
        // die die Klasse Kontent haben, egal in welcher Strutue
        width: 100%;
        max-width: 1920px;
        height: 100dvh;
        display: flex;

		header,
		section,
		footer {
			width: 100%;
			display: flex;
			// justify-content: left; flex-start, ist default Wert
	}
}

body {
	background: rgb(211, 211, 211, 0.4);
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
    border: unset;
}

input {
    border: unset;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/Fonts/Roboto/static/Roboto-Medium.ttf") format("truetype");
}

.overlay { // Elternelement
    
    justify-content: center;
    .content { // Kindelement
        //  Hier kann man noch spezielle Eigenschafen festgelegt werden,
        // die eintreten genau dann wenn .content ein Kind von .overlay ist.
        display: flex;
        justify-content: center;
        // Das w端rde ich hier nicht weiter verschachteln, 
        // speziellere Eigenschaften werden in den Komponenten festgelegt
    }
}

// Sollte global definiert werden, damit es 端berall verwendent werden kann.
.d-none {
    display: none;
}