@use '../public/styles/all_styles.scss' as all;
@forward '../public/styles/fonts.scss';

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: unset;
}

html {
    font-size: 10px; // für Verwendung von rem, 1rem = 10px
}

body {
    background: #ededed;
    max-width: 1920px;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

button, a,
input {
    cursor: pointer;
}

a {
    font: 1.6rem 'Inter', sans-serif;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 20rem auto;
    grid-template-rows: 10dvh 90dvh;
    grid-template-areas: "aside header" "aside main";
    height: 100dvh;

    @include all.tablet {
        grid-template-columns: 100%;
        grid-template-rows: 10dvh 80dvh 10dvh;
        grid-template-areas:
            "header"
            "main"
            "aside";
    }
}

.d_none {
    display: none;
}

h1 {
    font: bold 4.2rem 'Interbold', sans-serif;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 1.8rem;
}

