@use '../../../../../public/styles/all_styles' as all;

:host {

    form {
        @include all.size();

        input[type=text] {
            @include all.fl();
            @include all.size($h: 4rem);
            @include all.marpad($pad: 8px 16px);
            outline: none;
            border-radius: 10px;
            border: 1px solid #a8a8a8;

            &::placeholder {
                color: #d1d1d1;
            }

            &:focus {
                border-color: #29abe2;
            }
        }

        hr {
            @include all.size($w: 0.2rem, $h: 60%);
            @include all.absolute($top: 20%, $right: 4.8rem);
        }

        input[type=submit] {
            @include all.absolute($top: 0, $right: 0);
            height: 4rem;
            aspect-ratio: 1 / 1;
            background: url(../../../../../public/assets//Icons//taskBoard/searchDefault.png) no-repeat center / cover;
            cursor: pointer;

            &:hover {
                background: url(../../../../../public/assets//Icons//taskBoard/searchHover.png) no-repeat center / cover;
            }

            &:active {
                background: url(../../../../../public/assets//Icons//taskBoard/searchClick.png) no-repeat center / cover;
            }
        }
    }
}