@use '../../../../../public/styles/all_styles' as all;

:host {

    form {
        @include all.size();

        input[type=text] {
            @include all.fl();
            @include all.size($w: 20dvw, $h: 4.5rem);
            @include all.marpad($pad: 8px 16px);
            outline: none;
            border-radius: 10px;
            border: 1px solid #a8a8a8;
            margin-left: 5rem;
            cursor: text;

            @media(max-width: 1280px) {
                width: 35dvw;
                gap: 1.6rem;
                margin-left: 0;
                }

            @include all.tablet {
                width: 50dvw;
                height: 4.5rem;
            }

            @include all.mobile {
                width: 90dvw;
                height: 4rem;
            }

            &::placeholder {
                color: #d1d1d1;
            }

            &:focus {
                border-color: #29abe2;
            }
        }

        hr {
            @include all.size($w: 0.2rem, $h: 65%);
            @include all.absolute($top: 20%, $right: 4.8rem);
            background: lightgrey;
        }

        input[type=submit] {
            @include all.absolute($top: 2px, $right: 2px);
            height: 4rem;
            aspect-ratio: 1 / 1;
            background: url(../../../../../public/assets//Icons//taskBoard/searchDefault.png) no-repeat center / cover;
            cursor: pointer;

            &:hover {
                background: url(../../../../../public/assets//Icons//taskBoard/searchHover.png) no-repeat center / cover;
            }

            &:active {
                background: url(../../../../../public/assets//Icons//taskBoard/searchClick.png) no-repeat center / cover;
            }
        }
    }
}