@use '../../../../../public/styles/all_styles' as all;

input {
    border: none;
    outline: none;
    width: 100%;
    font: 1.6rem 'Inter', sans-serif;
    background: transparent;
}

.date-picker-container {
    position: relative;
    display: inline-block;
    font-family: "InterRegular", sans-serif;
    font-size: 16px;
    width: 100%;

    &:focus {
        border: 1px solid #29ABE2;
    }


    .date-picker-wrapper {

        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 1rem;
        width: 100%;
        background: white;

        .calendar-icon {
            width: 20px;
            height: 20px;
            opacity: 0.7;
            cursor: pointer;

        }
    }

    .warning {
        display: flex;
        height: 1.7rem;
        color: #d32f2f;
        margin: 0.5rem 0;
    }

    .calendar-popup {
        position: absolute;
        top: -300px;
        left: 0;
        background: white;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        padding: 8px;
        z-index: 10;
        width: 260px;

        .calendar-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;

            select {
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 4px;
                font-size: 1.6rem;
            }
        }

        .calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            text-align: center;
            gap: 2px;

            .weekday {
                font-weight: 600;
                font-size: 1.6rem;
                color: #555;
                margin-bottom: 4px;
            }

            .day {
                padding: 6px 0;
                border-radius: 4px;
                cursor: pointer;
                transition: background 0.2s ease;

                &:hover {
                    background: #f2f2f2;
                }

                &.other-month {
                    color: #aaa;
                }

                &.selected {
                    background: #1976d2;
                    color: white;
                }
            }
        }

        .calendar-footer {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;

            button {
                border: none;
                background: #1976d2;
                color: white;
                border-radius: 4px;
                padding: 4px 8px;
                cursor: pointer;
                font-size: 13px;

                &:hover {
                    background: #145a9d;
                }
            }
        }
    }
}