<div class="date-picker-container">
    <div class="date-picker-wrapper" (click)="toggleCalendar($event)">
        <input type="text" [value]="inputValue()" readonly />
        <img src="assets/Icons/taskBoard/date_picker.png" alt="Calendar" class="calendar-icon" />
    </div>

    @if (showCalendar()) {
    <div class="calendar-popup" (click)="$event.stopPropagation()">
        <div class="calendar-header">
            <select [ngModel]="activeMonth()" (ngModelChange)="onMonthChange($event)">
                <option *ngFor="let m of months; index as i" [value]="i">{{ m }}</option>
            </select>

            <select [ngModel]="activeYear()" (ngModelChange)="onYearChange($event)">
                <option *ngFor="let y of years" [ngValue]="y">{{ y }}</option>
            </select>
        </div>

        <div class="calendar-grid">
            <div class="weekday" *ngFor="let d of ['Su','Mo','Tu','We','Th','Fr','Sa']">
                {{ d }}
            </div>

            <div *ngFor="let day of days()" class="day" [class.other-month]="!day.isCurrentMonth"
                [class.selected]="isSelected(day.date)" (click)="selectDate(day)">
                {{ day.date.toDate().getDate() }}
            </div>
        </div>

        <div class="calendar-footer">
            <button (click)="prevMonth()">&#10094; Prev</button>
            <button (click)="nextMonth()">Next &#10095;</button>
        </div>
    </div>
    }
</div>