
<main>
    <header form title="Log in"></header>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="input-area">
            <div class="input-field">
                <input type="text" placeholder="E-Mail" formControlName="email">
                <img src="assets/Icons/contact/mail.png" class="input-img">
            </div>
            <div class="input-field">
                <input type="{{ passwordVisible ? 'text' : 'password' }}" class="active" placeholder="Password" formControlName="password">
                @if(form.dirty) {
                    <button type="button" class="input-img" (click)="toggleVisibility()"><img src="{{ passwordVisible ? 'assets/Icons/signon/visibility_off.png' : 'assets/Icons/signon/visibility.png'}}"></button>
                } @else {
                    <img src="assets/Icons/signon/lock.png" class="input-img">
                }
            </div>
        </div>
        <div class="button-area">
            <input type="submit" value="Log in" class="btn-set">
            <input type="button" value="Guest Log in" class="btn-default" (click)="useGuestLogin()">
        </div>
    </form>
</main>
<footer sign (section)="navigate($event)"></footer>
<div class="signup-area">
    <span>Not a Join user?</span>
    <button class="btn-set" (click)="navigate(SectionType.SIGNUP)">Sign up</button>
</div>