@use '../../../../public/styles/all_styles' as all;
@forward '../../../../public/styles/component-styles';

:host {
    @include all.fl($flexdir: column, $jc: center, $alit: center);
    @include all.size($w: 100dvw, $h: 100dvh);
    max-width: 1920px;
    padding: 3.2rem;
}

main {
    @include all.fl($flexdir: column, $alit: center, $jc: center);
    background: white;
    padding: 2rem;
    height: 50dvh;
    border-radius: 1.6rem;
    z-index: 1;
    position: relative;

    @include all.tablet {
        height: 58dvh;
        width: 90dvw;
        margin: 2rem;
    }
}

form {
    @include all.fl($flexdir: column, $alit: center)
}

input {
    font: 1.6rem 'Inter', sans-serif;
    border-radius: 10px;
    padding: 1.2rem 6.8rem 1.2rem 2.1rem;
    width: 40rem;
    border: 1px solid lightgrey;
    cursor: text;

    @include all.mobile {
        width: 28rem;
    }
}

.input-area {
    @include all.fl($flexdir: column, $gap: 2.4rem);
    margin: 3.2rem 0;
}

.input-img {
    @include all.size($w: 2.4rem, $h: 2.4rem);
    position: absolute;
    top: 1rem;
    right: 1.2rem
}

.button-area {
    @include all.fl($jc: center, $alit: center, $gap: 3.2rem);
    width: 100%;

    @include all.mobile {
        flex-direction: column;
        width: 50%;
        gap: 1.6rem;
    }

    .btn-set,
    .btn-default {
        width: 50%;
        padding: 0.8rem 1.6rem;
        cursor: pointer;

        @include all.mobile {
            font-size: 16px;
            width: 100%;
        }
    }
}

.signup-area {
    @include all.fl($gap: 1.6rem, $alit: center);
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    font-size: 1.6rem;

    @include all.mobile {
        top: auto;
        right: auto;
        bottom: 6.3rem;
    }

    .btn-set {
        font-size: 1.6rem;
        padding: 1rem;
    }

}

footer {
    height: 8rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 50;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.logo {
    position: fixed;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:
        top 1.2s ease-in-out,
        left 1.2s ease-in-out,
        transform 1.2s ease-in-out,
        opacity 0.5s ease-in-out;
    z-index: 51;

    &.slide {
        top: 20px;
        left: 20px;
        transform: scale(0.5);
    }

    &.fade-out {
        opacity: 0;
        pointer-events: none;
    }
}